@model IEnumerable<QuanLyCongTacTroGiangKhoaCNTT.Models.LopHocPhan>
@using QuanLyCongTacTroGiangKhoaCNTT.Models;
@{
    int roleId = Int32.Parse(Session["user-role-id"].ToString());
    var taikhoan = Session["TaiKhoan"] as TaiKhoan;

    var dgcv = Model.ToList();
    if (roleId == 2)
    {
        dgcv = dgcv.Where(w => w.MaCBGD.ToLower().Equals(taikhoan.Ma.ToLower())).ToList();
    }
    else if (roleId == 3 || roleId == 5)
    {
        dgcv = dgcv.Where(w => w.PhanCongTroGiang.Where(wp => wp.TrangThai == true).Count() > 0).ToList();
    }
    else if (roleId == 4)
    {
        dgcv = dgcv.Where(w => w.PhanCongTroGiang.Where(wp => wp.ID_TaiKhoan == taikhoan.ID && wp.TrangThai == true).Count() > 0).ToList();
    }
    int i = 0;
}
<div class="card-body mt-3" id="filterLoad">
    <div class="table-card">
        <table id="dataTableBasic" class="table table-hover" style="width:100%">
            <thead class="table-light">
                <tr>
                    <th class="text-nowrap">Trợ giảng</th>
                    <th class="text-nowrap">Lớp HP</th>
                    <th class="text-nowrap">Khối lượng</th>
                    <th class="text-nowrap">Đánh giá</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in dgcv)
                {
                    var idtks = item.PhanCongTroGiang.First().ID_TaiKhoan;
                    i++;
                    <tr>
                        <td valign="middle">
                            MSSV: @item.UngTuyenTroGiang.First().MSSV
                            <br />
                            Họ & Tên: @item.UngTuyenTroGiang.First().HoTen
                            <br />
                            <span class="text-nowrap">Email: @item.UngTuyenTroGiang.First().Email</span>
                            <br />
                            <span data-bs-toggle="tooltip" data-bs-html="true" title="Số ĐT: @item.UngTuyenTroGiang.First().SoDienThoai<br/>Ngày sinh: @(item.UngTuyenTroGiang.First().NgaySinh != null ? item.UngTuyenTroGiang.First().NgaySinh.Value.ToString("yyyy-MM-dd") : "")<br />Giới tính: @item.UngTuyenTroGiang.First().GioiTinh" class="badge bg-info" role="button"><i class="bi bi-info-circle me-2"></i>Thông tin thêm</span>
                        </td>
                        <td valign="middle" class="text-nowrap">
                            Mã LHP: @item.MaLHP
                            <br />
                            Tên HP: @item.TenHP
                        </td>
                        <td valign="middle" class="text-nowrap">
                            @item.CongViec.Count() Công việc
                        </td>
                        <td valign="middle" class="text-nowrap">
                            @if (item.PhanCongTroGiang.First().TrangThai == false)
                            {
                                <a titleForm="Đánh giá công việc LHP: @item.MaLHP - @item.TenHP" id="btnDanhgia-@item.ID" name="@item.ID" data-bs-toggle="tooltip" data-bs-html="true" style="min-width: 130px !important" title="Thực hiện đánh giá công việc trợ giảng cho LHP" class="btn btn-success btn-sm text-nowrap"><i class="bi bi-bookmark-check me-2"></i>Đánh giá</a>
                            }
                            else
                            {
                                <a titleForm="Xem thông tin đánh giá công việc LHP: @item.MaLHP - @item.TenHP" id="btnDanhgia-@item.ID" name="@item.ID" data-bs-toggle="tooltip" data-bs-html="true" style="min-width: 130px !important" title="Xem thông tin & cập nhật đánh giá công việc trợ giảng cho LHP" class="btn btn-primary btn-sm text-nowrap"><i class="bi bi-info-circle me-2"></i>Xem đánh giá</a>
                                @*<a titleForm="Xem Đánh giá công việc LHP: @item.LopHocPhan.MaLHP - @item.LopHocPhan.TenHP" id="btnXemDanhgia-@item.ID" name="@item.LopHocPhan.ID"  data-bs-toggle="tooltip" data-bs-html="true" style="min-width: 130px !important" title="Xem thông tin đánh giá công việc trợ giảng cho LHP" class="btn btn-primary btn-sm text-nowrap"><i class="bi bi-info-circle me-2"></i>Xen đánh giá</a>*@
                            }
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
<script>
    $('#dataTableBasic').DataTable();
</script>