@model IEnumerable<QuanLyCongTacTroGiangKhoaCNTT.Models.UngTuyenTroGiang>
@using QuanLyCongTacTroGiangKhoaCNTT.Models;
@{
    var models = new CongTacTroGiangKhoaCNTTEntities();
    var lstUs = Model.ToList();

    int roleId = Int32.Parse(Session["user-role-id"].ToString());
    int tkId = Int32.Parse(Session["user-id"].ToString());
    var tk = models.TaiKhoan.Find(tkId).Ma;

    var dgcv = new List<UngTuyenTroGiang>();
    if (roleId == 2)
    {
        dgcv = lstUs.Where(w => w.LopHocPhan.MaCBGD.Equals(tk)).ToList();
    }
    else
    {
        dgcv = lstUs;
    }
}

<div class="card-body mt-3" id="filterLoad">
    <div class="table-card">
        <table id="dataTableBasic" class="table table-hover" style="width:100%">
            <thead class="table-light">
                <tr>
                    <th class="text-nowrap">Trợ giảng</th>
                    <th class="text-nowrap">Lớp HP</th>
                    <th class="text-nowrap">Khối lượng</th>
                    <th class="text-nowrap">Đánh giá</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in dgcv)
                {
                    var idtks = item.ID_TaiKhoan;
                    <tr>
                        <td valign="middle">
                            MSSV: @item.MSSV
                            <br />
                            Họ & Tên: @item.HoTen
                            <br />
                            <span class="text-nowrap">Email: @item.Email</span>
                            <br />
                            <span data-bs-toggle="tooltip" data-bs-html="true" title="Số ĐT: @item.SoDienThoai<br/>Ngày sinh: @(item.NgaySinh != null ? item.NgaySinh.Value.ToString("yyyy-MM-dd") : "")<br />Giới tính: @item.GioiTinh" class="badge bg-info" role="button"><i class="bi bi-info-circle me-2"></i>Thông tin thêm</span>
                        </td>
                        <td valign="middle" class="text-nowrap">
                            Mã LHP: @item.LopHocPhan.MaLHP
                            <br />
                            Tên HP: @item.LopHocPhan.TenHP
                        </td>
                        <td valign="middle" class="text-nowrap">
                            @item.LopHocPhan.CongViec.Count() Công việc
                        </td>
                        <td valign="middle" class="text-nowrap">
                            @if (item.LopHocPhan.PhanCongTroGiang.First().TrangThai == false)
                            {
                                <a titleForm="Đánh giá công việc LHP: @item.LopHocPhan.MaLHP - @item.LopHocPhan.TenHP" id="btnDanhgia-@item.ID" name="@item.LopHocPhan.ID" data-bs-toggle="tooltip" data-bs-html="true" style="min-width: 130px !important" title="Thực hiện đánh giá công việc trợ giảng cho LHP" class="btn btn-success btn-sm text-nowrap"><i class="bi bi-bookmark-check me-2"></i>Đánh giá</a>
                            }
                            else
                            {
                                <a titleForm="Xem thông tin đánh giá công việc LHP: @item.LopHocPhan.MaLHP - @item.LopHocPhan.TenHP" id="btnDanhgia-@item.ID" name="@item.LopHocPhan.ID" data-bs-toggle="tooltip" data-bs-html="true" style="min-width: 130px !important" title="Xem thông tin & cập nhật đánh giá công việc trợ giảng cho LHP" class="btn btn-primary btn-sm text-nowrap"><i class="bi bi-info-circle me-2"></i>Xem đánh giá</a>
                                @*<a titleForm="Xem Đánh giá công việc LHP: @item.LopHocPhan.MaLHP - @item.LopHocPhan.TenHP" id="btnXemDanhgia-@item.ID" name="@item.LopHocPhan.ID"  data-bs-toggle="tooltip" data-bs-html="true" style="min-width: 130px !important" title="Xem thông tin đánh giá công việc trợ giảng cho LHP" class="btn btn-primary btn-sm text-nowrap"><i class="bi bi-info-circle me-2"></i>Xen đánh giá</a>*@
                            }
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
<script>
    $('#dataTableBasic').DataTable();
</script>