@model QuanLyCongTacTroGiangKhoaCNTT.Models.LopHocPhan
@{
    var lstTask = Model.CongViec.ToList();
}


<div class="modal-body" id="content-partialDetail">

    <div class="row">
        <div class="col-12">
            <div>
                <label class="form-label" for="ghichu">Ghi chú</label>
                <textarea disabled="@(Model.PhanCongTroGiang.First().TrangThai == true ? true : false)" type="text" maxlength="300" id="ghichu" rows="4" class="form-control" placeholder="Nhập ghi chú đánh giá trợ giảng LHP">@Model.PhanCongTroGiang.First().GhiChu</textarea>
                <span class="text-danger" id="valid-ghichu"></span>
            </div>
        </div>
        <div class="col-12">
            <hr class="my-4" />
        </div>
        <div class="col-12">
            <div class="mb-4">
                <h3 class="text-center mb-0" for="tennganh">DANH SÁCH CÔNG VIỆC TRỢ GIẢNG</h3>
                <em><label class="small text-center w-100">(Chọn tất cả công việc được đánh giá là đã hoàn thành, những công việc không được chọn sẽ được đánh giá là chưa hoàn thành.)</label></em>
            </div>
        </div>
        <div class="col-12">
            <div class="table-card mt-0">
                <table class="table table-hover">
                    <thead class="table-light">
                        <tr>
                            <th class="ps-3 text-nowrap">Mô tả công việc</th>
                            <th style="max-width: 120px;" class="ps-3 text-nowrap">Giờ quy đổi</th>
                            <th style="max-width: 120px;" class="ps-3 text-nowrap">Giờ thực tế</th>
                            <th class="ps-3 text-nowrap">T.Hạn hoàn thành</th>
                            <th class="ps-3 text-nowrap">Nơi làm việc</th>
                            <th class="ps-3 text-nowrap">Kết quả mong đợi</th>
                            <th class="ps-0 pe-0 text-nowrap"></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in lstTask)
                        {
                            <tr>

                                <td valign="middle" class="pe-0 ps-3">
                                    <div class="form-control">@item.MoTa</div>
                                </td>
                                <td valign="middle" class="pe-0 ps-3">
                                    <div class="form-control">@(item.SoGioQuyDoi)h</div>
                                </td>
                                <td valign="middle" class="pe-0 ps-3">
                                    <div class="form-control">@(item.SoGioThucTe)h</div>
                                </td>
                                <td valign="middle" class="pe-0 ps-3">
                                    <div class="form-control">@item.ThoiHanHoanThanh.ToString("yyyy-MM-dd")</div>
                                </td>
                                <td valign="middle" class="pe-0 ps-3">
                                    <div class="form-control">@item.NoiLamViec</div>
                                </td>
                                <td valign="middle" class="pe-0 ps-3">
                                    <div class="form-control">@item.KetQuaMongDoi</div>
                                </td>
                                @if (Model.PhanCongTroGiang.First().TrangThai == true)
                                {
                                    if (item.KetQuaCongViec.Equals("chuahoanthanh"))
                                    {
                                        <td valign="middle" class="pe-0 ps-3">
                                            <a role="button" class="text-danger form-control" style="max-width: fit-content">
                                                <span data-bs-toggle="tooltip" data-bs-html="true" title="Chưa hoàn thành"><i style="font-size: 20px" class="bi bi-x-circle-fill"></i></span>
                                            </a>
                                        </td>
                                    }
                                    else
                                    {
                                        <td valign="middle" class="pe-0 ps-3">
                                            <a role="button" class="text-success form-control" style="max-width: fit-content">
                                                <span data-bs-toggle="tooltip" data-bs-html="true" title="Đã hoàn thành"><i style="font-size: 20px" class="bi bi-check-circle-fill"></i></span>
                                            </a>
                                        </td>
                                    }
                                }
                                else
                                {
                                    <td valign="middle" class="pe-0 ps-3">
                                        <div class="form-check form-switch">
                                            <input id="select-danhgia-@item.ID" name="@item.ID" checked="true" class="form-check-input" type="checkbox" role="switch">
                                        </div>
                                    </td>
                                }
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

@if (Model.PhanCongTroGiang.First().TrangThai == true)
{
    <script>
        $(document).ready(function () {
            $('body').find('[id="btnSubmit"]').prop('hidden', true);
        });
    </script>
}
else
{
    <script>
        $(document).ready(function () {
            $('body').find('[id="btnSubmit"]').prop('hidden', false);
        });
    </script>
}