@using QuanLyCongTacTroGiangKhoaCNTT.Models
@{
    CongTacTroGiangKhoaCNTTEntities models = new CongTacTroGiangKhoaCNTTEntities();
    var lstNganh = models.Nganh.ToList();

    ViewBag.Title = "Trợ giảng";
    Layout = Session["layout"].ToString();

    var currentDate = Convert.ToDateTime(DateTime.Now.ToString("yyyy-MM-dd"));
    var currentYear = DateTime.Now.Year;

    var lstHk = models.HocKy.OrderByDescending(o => o.ID).ToList();
    int id_hkGanNhat = 0;
    if (lstHk.Count > 0)
    {
        id_hkGanNhat = lstHk.First().ID;
    }

    var formDky = models.FormDangKyTroGiang.FirstOrDefault(w => w.ID_HocKy == id_hkGanNhat && w.Nganh.TenNganh.ToLower().Equals("công nghệ thông tin"));

    int id_nganhCNTT = 0;
    int idForm = 0;
    if (formDky != null)
    {
        id_nganhCNTT = formDky.ID_Nganh;
        idForm = formDky.ID;
    }

    var lstUs = models.UngTuyenTroGiang.Where(w => w.ID_FormDangKyTroGiang == idForm && w.TrangThai == true).ToList().OrderByDescending(o => o.ID);
    int i = 0;
}
<script src="~/ActiveItemMenu/ReviewTask/index.js"></script>
<section class="container-fluid p-4">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-12">
            <!-- Page header -->
            <div class="border-bottom pb-3 mb-3 d-md-flex align-items-center justify-content-between">
                <div class="mb-3 mb-lg-0">
                    <h1 class="mb-0 h2 fw-bold">Đánh giá công việc trợ giảng</h1>
                    <!-- Breadcrumb -->
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item">
                                <a href="@Url.Action("index", "dashboard")">Trang chủ</a>
                            </li>
                            <li class="breadcrumb-item">
                                <a>Trợ Giảng</a>
                            </li>
                            <li class="breadcrumb-item active" aria-current="page">
                                Đánh Giá Công Việc
                            </li>
                        </ol>
                    </nav>
                </div>
                <!-- button -->
                <div>
                    @*<a href="#" class="btn btn-primary me-2" data-bs-toggle="modal" data-bs-target="#themmoi">Thêm Trợ Giảng</a>*@
                </div>
            </div>
        </div>

    </div>

    <div class="row">
        <!-- basic table -->
        <div class="col-md-12 col-12 mb-5">
            <div class="card">
                <div class="card-header border-bottom-1 pt-3">
                    <div class="row">
                        <div class="mb-3 col-md-3 col-12 ">
                            <label class="form-label">Học kỳ</label>
                            <select id="hocky" class="form-select" data-width="100%">
                                @foreach (var item in lstHk)
                                {
                                    if (id_hkGanNhat == item.ID)
                                    {
                                        <option name="@item.TenHocKy" selected value="@item.ID">Học kỳ @item.TenHocKy</option>
                                    }
                                    else
                                    {
                                        <option name="@item.TenHocKy" value="@item.ID">Học kỳ @item.TenHocKy</option>
                                    }
                                }
                            </select>
                        </div>
                        <div class="mb-3 col-md-3 col-12 ">
                            <label class="form-label">Ngành</label>
                            <select id="nganh" class="form-select" data-width="100%">
                                @foreach (var item in lstNganh)
                                {
                                    if (item.TenNganh.ToLower().Equals("công nghệ thông tin"))
                                    {
                                        <option name="@item.TenNganh" selected value="@item.ID">@item.TenNganh</option>
                                    }
                                    else
                                    {
                                        <option name="@item.TenNganh" value="@item.ID">@item.TenNganh</option>
                                    }
                                }
                            </select>
                        </div>
                        <div class="mb-3 col-md-3 col-12 ">
                            <label class="form-label">Lọc trạng thái</label>
                            <select id="trangthaidg" class="form-select" data-width="100%">
                                <option value="all">Chọn tất cả</option>
                                <option value="true">Đã đánh giá</option>
                                <option value="false">Chưa đánh giá</option>
                            </select>
                        </div>
                    </div>
                </div>
                <!-- table  -->
                <div class="card-body mt-3" id="filterLoad">
                    <div class="table-card">
                        <table id="dataTableBasic" class="table table-hover" style="width:100%">
                            <thead class="table-light">
                                <tr>
                                    <th class="text-nowrap">Trợ giảng</th>
                                    <th class="text-nowrap">Lớp HP</th>
                                    <th class="text-nowrap">Điểm số</th>
                                    <th class="text-nowrap">Khối lượng</th>
                                    <th class="text-nowrap"></th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in lstUs.Where(w => w.DanhGiaPhongVan.Where(wd => wd.KetLuanDat == true).Count() > 0).ToList())
                                {
                                    var idtks = item.ID_TaiKhoan;
                                    i++;
                                    <tr>
                                        <td valign="middle">
                                            MSSV: @item.MSSV
                                            <br />
                                            Họ & Tên: @item.HoTen
                                            <br />
                                            <span class="text-nowrap">Email: @item.Email</span>
                                            <br />
                                            <span data-bs-toggle="tooltip" data-bs-html="true" title="Số ĐT: @item.SoDienThoai<br/>Ngày sinh: @(item.NgaySinh != null ? item.NgaySinh.Value.ToString("yyyy-MM-dd") : "")<br />Giới tính: @item.GioiTinh" class="badge bg-info" role="button"><i class="bi bi-info-circle me-2"></i>Thông tin thêm</span>
                                        </td>
                                        <td valign="middle" class="text-nowrap">
                                            Mã LHP: @item.LopHocPhan.MaLHP
                                            <br />
                                            Tên HP: @item.LopHocPhan.TenHP
                                        </td>
                                        <td valign="middle" class="text-nowrap">
                                            TB Chung: @item.DiemTBTL
                                            <br />
                                            Rèn luyện: @item.DiemRL
                                            <br />
                                            TK môn: @item.DiemTKMH
                                        </td>
                                        <td valign="middle" class="text-nowrap">
                                            @item.LopHocPhan.CongViec.Count() Công việc
                                        </td>
                                        <td valign="middle" class="text-nowrap">
                                            @if (item.LopHocPhan.PhanCongTroGiang.First().TrangThai == false)
                                            {
                                                <a titleForm="Đánh giá công việc LHP: @item.LopHocPhan.MaLHP - @item.LopHocPhan.TenHP" id="btnDanhgia-@item.ID" name="@item.LopHocPhan.ID" data-bs-toggle="tooltip" data-bs-html="true" style="min-width: 130px !important" title="Thực hiện đánh giá công việc trợ giảng cho LHP" class="btn btn-success btn-sm text-nowrap"><i class="bi bi-bookmark-check me-2"></i>Đánh giá</a>
                                            }
                                            else
                                            {
                                                <a titleForm="Xem thông tin đánh giá công việc LHP: @item.LopHocPhan.MaLHP - @item.LopHocPhan.TenHP" id="btnDanhgia-@item.ID" name="@item.LopHocPhan.ID" data-bs-toggle="tooltip" data-bs-html="true" style="min-width: 130px !important" title="Xem thông tin & cập nhật đánh giá công việc trợ giảng cho LHP" class="btn btn-primary btn-sm text-nowrap"><i class="bi bi-info-circle me-2"></i>Xem đánh giá</a>
                                                @*<a titleForm="Xem Đánh giá công việc LHP: @item.LopHocPhan.MaLHP - @item.LopHocPhan.TenHP" id="btnXemDanhgia-@item.ID" name="@item.LopHocPhan.ID"  data-bs-toggle="tooltip" data-bs-html="true" style="min-width: 130px !important" title="Xem thông tin đánh giá công việc trợ giảng cho LHP" class="btn btn-primary btn-sm text-nowrap"><i class="bi bi-info-circle me-2"></i>Xen đánh giá</a>*@
                                            }
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="danhgiachung" tabindex="-1" role="dialog" aria-labelledby="danhgiachung" aria-hidden="true">
        <div class="modal-dialog modal-xl modal-dialog-scrollable modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="danhgiachungTitle"></h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true"></span>
                    </button>
                </div>
                <div class="modal-body" id="content-partialDetail">
                </div>
                <div class="modal-footer">
                    <button id="btnClose" type="button" class="btn btn-secondary" data-bs-dismiss="modal">Đóng</button>
                    <button id="btnSubmit" type="button" class="btn btn-primary">Lưu thông tin</button>
                </div>
            </div>
        </div>
    </div>
</section>

<script src="~/Validation/teacher/reviewtask/danhgia.js"></script>
<script src="~/Validation/teacher/reviewtask/filter.js"></script>