@model IEnumerable<QuanLyCongTacTroGiangKhoaCNTT.Models.Nganh>
@{
    ViewBag.Title = "Major";
    Layout = Session["layout"].ToString();
}
<script src="~/ActiveItemMenu/SemesterAndMajor/nganh.js"></script>
<section class="container-fluid p-4">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-12">
            <!-- Page header -->
            <div class="border-bottom pb-3 mb-3 d-md-flex align-items-center justify-content-between">
                <div class="mb-3 mb-lg-0">
                    <h1 class="mb-0 h2 fw-bold">Quản Lý Ngành</h1>
                    <!-- Breadcrumb -->
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item">
                                <a href="@Url.Action("index", "dashboard")">Dashboard</a>
                            </li>
                            <li class="breadcrumb-item">
                                <a>Học kỳ & Ngành</a>
                            </li>
                            <li class="breadcrumb-item active" aria-current="page">
                                Quản Lý Ngành
                            </li>
                        </ol>
                    </nav>
                </div>
                <!-- button -->
                <div>
                    <a href="#" class="btn btn-primary me-2" data-bs-toggle="modal" data-bs-target="#themmoi">Thêm mới</a>
                </div>
            </div>
        </div>

    </div>

    <div class="row">
        <!-- basic table -->
        <div class="col-md-12 col-12 mb-5">
            <div class="card">
                <!-- table  -->
                <div class="card-body">
                    <div class="table-card">
                        <table id="dataTableBasic" class="table table-hover" style="width:100%">
                            <thead class="table-light">
                                <tr>
                                    <th>Mã ngành</th>
                                    <th>Tên ngành</th>
                                    <th>Tên viết tắt</th>
                                    <th>Chương trình ĐT</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>@item.MaNganh</td>
                                        <td>@item.TenNganh</td>
                                        <td>@item.TenVietTat</td>
                                        <td>@item.CTDT</td>
                                        <td class="text-nowrap">
                                            <a style="font-size: 20px" role="button" id="openSua-@item.id" name="@item.id" class="text-success">
                                                <i class="bi bi-pencil-square me-2"></i>
                                            </a>
                                            @if (item.ThoiKhoaBieu.Count < 1)
                                            {
                                                <a style="font-size: 20px" role="button" id="openXoa-@item.id" name="@item.id" fullname="@item.MaNganh" class="text-danger">
                                                    <i class="bi bi-trash"></i>
                                                </a>
                                            }
                                        </td>
                                    </tr>
                                }

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="themmoi" tabindex="-1" role="dialog" aria-labelledby="themmoi" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="themmoiTitle">Thêm ngành mới mới</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true"></span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-12">
                            <div class="mb-3">
                                <label class="form-label" for="manganh">Mã ngành <span class="text-danger">*</span></label>
                                <input type="text" id="manganh" class="form-control" placeholder="Nhập mã ngành">
                                <span class="text-danger" id="valid-manganh"></span>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="mb-3">
                                <label class="form-label" for="tennganh">Tên ngành <span class="text-danger">*</span></label>
                                <input type="text" id="tennganh" class="form-control" placeholder="Nhập tên ngành">
                                <span class="text-danger" id="valid-tennganh"></span>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="mb-3">
                                <label class="form-label" for="tenviettat">Tên viết tắt <span class="text-danger">*</span></label>
                                <input type="text" id="tenviettat" class="form-control" placeholder="Nhập tên viết tắt của ngành">
                                <span class="text-danger" id="valid-tenviettat"></span>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="mb-3">
                                <label class="form-label" for="ctdt">
                                    Chương trình đào tạo <span class="text-danger">*</span>
                                </label>
                                <select class="form-select" id="ctdt">
                                    <option selected value="">---- Chọn CTĐT ----</option>
                                    <option value="Đặc biệt">Chương trình Đặc biệt</option>
                                    <option value="Tiêu chuẩn">Chương trình Tiêu chuẩn</option>
                                </select>
                                <span class="text-danger" id="valid-ctdt"></span>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button id="btnClose" type="button" class="btn btn-secondary" data-bs-dismiss="modal">Đóng</button>
                        <button id="btnSubmit" type="button" class="btn btn-primary">Lưu thông tin</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- CẬP NHẬT -->
    <div class="modal fade" id="capnhat" tabindex="-1" role="dialog" aria-labelledby="capnhat" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="capnhatTitle">Cập nhật ngành</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true"></span>
                    </button>
                </div>
                <div class="modal-body" id="capnhatnganh-partial">

                </div>
                <div class="modal-footer">
                    <button id="btnEditClose" type="button" class="btn btn-secondary" data-bs-dismiss="modal">Đóng</button>
                    <button id="btnEditSubmit" type="button" class="btn btn-primary">Lưu thông tin</button>
                </div>
            </div>
        </div>
    </div>
</section>
<script src="~/Validation/department/major/add.js"></script>
<script src="~/Validation/department/major/edit.js"></script>
<script src="~/Validation/department/major/delete.js"></script>