@model IEnumerable<QuanLyCongTacTroGiangKhoaCNTT.Models.ThoiKhoaBieu>
@using QuanLyCongTacTroGiangKhoaCNTT.Models
@{
    CongTacTroGiangKhoaCNTTEntities models = new CongTacTroGiangKhoaCNTTEntities();
    var lstTkb = Model.ToList();
    int idTk = Int32.Parse(Session["user-id"].ToString());

    int id_hkGanNhat = 0;
    int id_nganhCNTT = 0;

    if (lstTkb.Count > 0)
    {
        var tkb = lstTkb.First();
        id_hkGanNhat = tkb.ID_HocKy;
        id_nganhCNTT = tkb.ID_Nganh;
    }

    var currentDate = Convert.ToDateTime(DateTime.Now.ToString("yyyy-MM-dd"));

    var formDky = models.FormDangKyTroGiang.FirstOrDefault(w => w.ID_HocKy == id_hkGanNhat && w.ID_Nganh == id_nganhCNTT
    && w.ThoiGianMo <= currentDate && w.ThoiGianDong >= currentDate);
}

<div id="filterParentLoad">
    @if (formDky == null)
    {
        <div class="card" id="pageload">
            <p class="m-4 text-center h3">Ngoài thời gian đăng ký</p>
        </div>
    }
    else
    {
        <div class="card-header border-bottom-0 pt-0">
            <div class="row">
                <div class="mb-3 col-md-3 col-12">
                    <label class="form-label">Chú thích</label>
                    <div class="form-control">
                        <span class="badge bg-warning me-2">Chưa đăng ký</span><span class="badge bg-success">Đã đăng ký</span>
                    </div>
                </div>
                <div class="mb-3 col-md-3 col-12">
                    <label class="form-label">Lọc môn học</label>
                    <select class="form-select" id="locmonhoc" placeholder="Lọc giảng viên" multiple="multiple">
                        @foreach (var item in lstTkb.GroupBy(o => o.LopHocPhan.MaMH).ToList())
                        {
                            var items = item.Select(s => new { s.LopHocPhan.TenHP, s.LopHocPhan.MaMH }).First();
                            <option selected value="@items.MaMH">@items.TenHP</option>
                        }
                    </select>
                </div>
                <div class="mb-3 col-md-3 col-12">
                    <label class="form-label">Lọc giảng viên</label>
                    <select class="form-select" id="locgiangvien" placeholder="Lọc giảng viên" multiple="multiple" filter="true">
                        @foreach (var item in lstTkb.GroupBy(o => o.LopHocPhan.TenCBGD).ToList())
                        {
                            var items = item.Select(s => new { s.LopHocPhan.MaCBGD, s.LopHocPhan.TenCBGD }).First();
                            <option selected value="@items.MaCBGD">@items.TenCBGD</option>
                        }
                    </select>
                </div>
                <div class="mb-3 col-md-3 col-12">
                    <label class="form-label">Lọc trạng thái</label>
                    <select class="form-select" id="loctrangthai">
                        <option value="tatca">Chọn tất cả</option>
                        <option value="chuadangky">Chưa đăng ký</option>
                        <option value="dadangky">Đã đăng ký</option>
                    </select>
                </div>
            </div>
        </div>
        <!-- table  -->
        <div class="table-responsive" style="max-height: 72vh">
            <table class="table table-bordered border-secondary text-nowrap mb-0">
                <thead style="position: sticky; top: 0; z-index: 2">
                    <tr text-white">
                        <th class="bg-secondary text-white" style="position: sticky; left: 0; box-shadow: inset -1px -1px 0 #ffffff; text-align: center; padding: 5px 10px 5px 10px;">Thứ</th>
                        <th class="bg-secondary text-white" align="center" colspan="5" style="box-shadow: inset -3px -1px 0 #ffffff; text-align: center; padding: 5px 10px 5px 10px;">Thứ 2</th>
                        <th class="bg-secondary text-white" align="center" colspan="5" style="box-shadow: inset -3px -1px 0 #ffffff; text-align: center; padding: 5px 10px 5px 10px;">Thứ 3</th>
                        <th class="bg-secondary text-white" align="center" colspan="5" style="box-shadow: inset -3px -1px 0 #ffffff; text-align: center; padding: 5px 10px 5px 10px;">Thứ 4</th>
                        <th class="bg-secondary text-white" align="center" colspan="5" style="box-shadow: inset -3px -1px 0 #ffffff; text-align: center; padding: 5px 10px 5px 10px;">Thứ 5</th>
                        <th class="bg-secondary text-white" align="center" colspan="5" style="box-shadow: inset -3px -1px 0 #ffffff; text-align: center; padding: 5px 10px 5px 10px;">Thứ 6</th>
                        <th class="bg-secondary text-white" align="center" colspan="5" style="box-shadow: inset -3px -1px 0 #ffffff; text-align: center; padding: 5px 10px 5px 10px;">Thứ 7</th>
                        <th class="bg-secondary text-white" align="center" colspan="5" style="box-shadow: inset -1px -1px 0 #ffffff; text-align: center; padding: 5px 10px 5px 10px;">Chủ nhật</th>
                    </tr>
                    <tr class="bg-secondary text-white">
                        <th class="bg-secondary" style="position: sticky; left: 0; box-shadow: inset -1px -1px 0 #ffffff; text-align: center; padding: 5px 10px 5px 10px;">Tiết</th>
                        @for (int i = 0; i < 7; i++)
                        {
                            <th class="bg-secondary text-white" style="box-shadow: inset -1px 0 0 #ffffff; text-align: center; padding: 5px 10px 5px 10px;">1-3</th>
                            <th class="bg-secondary text-white" style="box-shadow: inset -1px 0 0 #ffffff; text-align: center; padding: 5px 10px 5px 10px;">4-6</th>
                            <th class="bg-secondary text-white" style="box-shadow: inset -1px 0 0 #ffffff; text-align: center; padding: 5px 10px 5px 10px;">7-9</th>
                            <th class="bg-secondary text-white" style="box-shadow: inset -1px 0 0 #ffffff; text-align: center; padding: 5px 10px 5px 10px;">10-12</th>
                            if (i == 6)
                            {
                                <th class="bg-secondary text-white" style="box-shadow: inset -1px 0 0 #ffffff; text-align: center; padding: 5px 10px 5px 10px;">13-15</th>
                            }
                            else
                            {
                                <th class="bg-secondary text-white" style="box-shadow: inset -3px 0 0 #ffffff; text-align: center; padding: 5px 10px 5px 10px;">13-15</th>
                            }
                        }
                    </tr>
                </thead>
                <tbody id="filterLoad">
                    @foreach (var item in lstTkb.GroupBy(g => g.LopHocPhan.MaMH))
                    {
                        <tr>
                            <td class="bg-secondary text-white" style="box-shadow: inset -1px -1px 0 #ffffff; padding: 10px; white-space: normal; min-width: 140px !important; max-width: 200px; word-break: break-word; position: sticky; left: 0;" valign="middle">@item.Select(s => new { s.LopHocPhan.TenHP }).First().TenHP</td>
                            @for (int i = 0; i < 7; i++)
                            {
                                for (int j = 0; j < 5; j++)
                                {
                                    if (j == 0) // 1-3
                                    {
                                        var lstTkbs = lstTkb.Where(w => w.LopHocPhan.TenHP.ToLower().Equals(item.Select(s => new { s.LopHocPhan.TenHP }).First().TenHP.ToLower()) && (w.TietBD == 1 || w.TietS == 1) && w.ThuS == (i + 2)).ToList();
                                        if (lstTkbs.Count > 0)
                                        {
                                            <td style="padding: 10px;">
                                                @foreach (var items in lstTkbs)
                                                {
                                                    if (items.LopHocPhan.UngTuyenTroGiang.FirstOrDefault(f => f.ID_TaiKhoan == idTk) != null)
                                                    {
                                                        <p data-bs-toggle="tooltip" data-bs-html="true"
                                                           title="<b>@items.LopHocPhan.MaLHP</b><br><b>Tuần BĐ/KT:</b> @(items.TuanBD)/@(items.TuanKT)<br> <b>Phòng:</b> @(items.Phong)<br><b>Tiết học:</b> @(items.TietHoc)<br><b>GV:</b> @(items.LopHocPhan.TenCBGD)"
                                                           class="badge bg-success p-3" role="button" style="margin-bottom: 0.5rem;">
                                                            <a typeLHP="dadk" IdFormDangKy="@formDky.ID" titleForm="Cập nhật đăng ký trợ giảng LHP: @items.LopHocPhan.MaLHP - @items.LopHocPhan.TenHP."
                                                               name="@items.LopHocPhan.ID"
                                                               class="btn btn-sm btn-light me-2"
                                                               id="applyLHP-@items.LopHocPhan.ID">
                                                                @if (items.LopHocPhan.UngTuyenTroGiang.FirstOrDefault(f => f.ID_TaiKhoan == idTk).TrangThai == false)
                                                                {
                                                                    <span>Cập nhật ứng tuyển</span>
                                                                }
                                                                else
                                                                {
                                                                    <span>Chi tiết ứng tuyển</span>
                                                                }
                                                            </a>
                                                            <a id="applyTASK-@items.LopHocPhan.ID" titleTaskList="Chi tiết công việc LHP: @items.LopHocPhan.MaLHP - @items.LopHocPhan.TenHP." name="@items.LopHocPhan.ID" class="btn btn-sm btn-light">Chi tiết công việc</a>
                                                        </p>
                                                    }
                                                    else
                                                    {
                                                        <p data-bs-toggle="tooltip" data-bs-html="true"
                                                           title="<b>@items.LopHocPhan.MaLHP</b><br><b>Tuần BĐ/KT:</b> @(items.TuanBD)/@(items.TuanKT)<br> <b>Phòng:</b> @(items.Phong)<br><b>Tiết học:</b> @(items.TietHoc)<br><b>GV:</b> @(items.LopHocPhan.TenCBGD)"
                                                           class="badge bg-warning p-3" role="button" style="margin-bottom: 0.5rem;">
                                                            <a typeLHP="chuadk" IdFormDangKy="@formDky.ID" titleForm="Đăng ký trợ giảng LHP: @items.LopHocPhan.MaLHP - @items.LopHocPhan.TenHP."
                                                               name="@items.LopHocPhan.ID"
                                                               class="btn btn-sm btn-light me-2"
                                                               id="applyLHP-@items.LopHocPhan.ID">Ứng tuyển</a>
                                                            <a id="applyTASK-@items.LopHocPhan.ID" titleTaskList="Chi tiết công việc LHP: @items.LopHocPhan.MaLHP - @items.LopHocPhan.TenHP." name="@items.LopHocPhan.ID" class="btn btn-sm btn-light">Chi tiết công việc</a>
                                                        </p>
                                                    }
                                                }
                                            </td>
                                        }
                                        else
                                        {
                                            <td></td>
                                        }
                                    }
                                    else if (j == 1) //4-6
                                    {
                                        var lstTkbs = lstTkb.Where(w => w.LopHocPhan.TenHP.ToLower().Equals(item.Select(s => new { s.LopHocPhan.TenHP }).First().TenHP.ToLower()) && (w.TietBD == 4 || w.TietS == 4) && w.ThuS == (i + 2)).ToList();
                                        if (lstTkbs.Count > 0)
                                        {
                                            <td style="padding: 10px;">

                                                @foreach (var items in lstTkbs)
                                                {
                                                    if (items.LopHocPhan.UngTuyenTroGiang.FirstOrDefault(f => f.ID_TaiKhoan == idTk) != null)
                                                    {
                                                        <p data-bs-toggle="tooltip" data-bs-html="true"
                                                           title="<b>@items.LopHocPhan.MaLHP</b><br><b>Tuần BĐ/KT:</b> @(items.TuanBD)/@(items.TuanKT)<br> <b>Phòng:</b> @(items.Phong)<br><b>Tiết học:</b> @(items.TietHoc)<br><b>GV:</b> @(items.LopHocPhan.TenCBGD)"
                                                           class="badge bg-success p-3" role="button" style="margin-bottom: 0.5rem;">
                                                            <a typeLHP="dadk" IdFormDangKy="@formDky.ID" titleForm="Cập nhật đăng ký trợ giảng LHP: @items.LopHocPhan.MaLHP - @items.LopHocPhan.TenHP."
                                                               name="@items.LopHocPhan.ID"
                                                               class="btn btn-sm btn-light me-2"
                                                               id="applyLHP-@items.LopHocPhan.ID">
                                                                @if (items.LopHocPhan.UngTuyenTroGiang.FirstOrDefault(f => f.ID_TaiKhoan == idTk).TrangThai == false)
                                                                {
                                                                    <span>Cập nhật ứng tuyển</span>
                                                                }
                                                                else
                                                                {
                                                                    <span>Chi tiết ứng tuyển</span>
                                                                }
                                                            </a>
                                                            <a id="applyTASK-@items.LopHocPhan.ID" titleTaskList="Chi tiết công việc LHP: @items.LopHocPhan.MaLHP - @items.LopHocPhan.TenHP." name="@items.LopHocPhan.ID" class="btn btn-sm btn-light">Chi tiết công việc</a>
                                                        </p>
                                                    }
                                                    else
                                                    {
                                                        <p data-bs-toggle="tooltip" data-bs-html="true"
                                                           title="<b>@items.LopHocPhan.MaLHP</b><br><b>Tuần BĐ/KT:</b> @(items.TuanBD)/@(items.TuanKT)<br> <b>Phòng:</b> @(items.Phong)<br><b>Tiết học:</b> @(items.TietHoc)<br><b>GV:</b> @(items.LopHocPhan.TenCBGD)"
                                                           class="badge bg-warning p-3" role="button" style="margin-bottom: 0.5rem;">
                                                            <a typeLHP="chuadk" IdFormDangKy="@formDky.ID" titleForm="Đăng ký trợ giảng LHP: @items.LopHocPhan.MaLHP - @items.LopHocPhan.TenHP."
                                                               name="@items.LopHocPhan.ID"
                                                               class="btn btn-sm btn-light me-2"
                                                               id="applyLHP-@items.LopHocPhan.ID">Ứng tuyển</a>
                                                            <a id="applyTASK-@items.LopHocPhan.ID" titleTaskList="Chi tiết công việc LHP: @items.LopHocPhan.MaLHP - @items.LopHocPhan.TenHP." name="@items.LopHocPhan.ID" class="btn btn-sm btn-light">Chi tiết công việc</a>
                                                        </p>
                                                    }
                                                }
                                            </td>
                                        }
                                        else
                                        {
                                            <td></td>
                                        }
                                    }
                                    else if (j == 2) //7-9
                                    {
                                        var lstTkbs = lstTkb.Where(w => w.LopHocPhan.TenHP.ToLower().Equals(item.Select(s => new { s.LopHocPhan.TenHP }).First().TenHP.ToLower()) && (w.TietBD == 7 || w.TietS == 7) && w.ThuS == (i + 2)).ToList();
                                        if (lstTkbs.Count > 0)
                                        {
                                            <td style="padding: 10px;">

                                                @foreach (var items in lstTkbs)
                                                {
                                                    if (items.LopHocPhan.UngTuyenTroGiang.FirstOrDefault(f => f.ID_TaiKhoan == idTk) != null)
                                                    {
                                                        <p data-bs-toggle="tooltip" data-bs-html="true"
                                                           title="<b>@items.LopHocPhan.MaLHP</b><br><b>Tuần BĐ/KT:</b> @(items.TuanBD)/@(items.TuanKT)<br> <b>Phòng:</b> @(items.Phong)<br><b>Tiết học:</b> @(items.TietHoc)<br><b>GV:</b> @(items.LopHocPhan.TenCBGD)"
                                                           class="badge bg-success p-3" role="button" style="margin-bottom: 0.5rem;">
                                                            <a typeLHP="dadk" IdFormDangKy="@formDky.ID" titleForm="Cập nhật đăng ký trợ giảng LHP: @items.LopHocPhan.MaLHP - @items.LopHocPhan.TenHP."
                                                               name="@items.LopHocPhan.ID"
                                                               class="btn btn-sm btn-light me-2"
                                                               id="applyLHP-@items.LopHocPhan.ID">
                                                                @if (items.LopHocPhan.UngTuyenTroGiang.FirstOrDefault(f => f.ID_TaiKhoan == idTk).TrangThai == false)
                                                                {
                                                                    <span>Cập nhật ứng tuyển</span>
                                                                }
                                                                else
                                                                {
                                                                    <span>Chi tiết ứng tuyển</span>
                                                                }
                                                            </a>
                                                            <a id="applyTASK-@items.LopHocPhan.ID" titleTaskList="Chi tiết công việc LHP: @items.LopHocPhan.MaLHP - @items.LopHocPhan.TenHP." name="@items.LopHocPhan.ID" class="btn btn-sm btn-light">Chi tiết công việc</a>
                                                        </p>
                                                    }
                                                    else
                                                    {
                                                        <p data-bs-toggle="tooltip" data-bs-html="true"
                                                           title="<b>@items.LopHocPhan.MaLHP</b><br><b>Tuần BĐ/KT:</b> @(items.TuanBD)/@(items.TuanKT)<br> <b>Phòng:</b> @(items.Phong)<br><b>Tiết học:</b> @(items.TietHoc)<br><b>GV:</b> @(items.LopHocPhan.TenCBGD)"
                                                           class="badge bg-warning p-3" role="button" style="margin-bottom: 0.5rem;">
                                                            <a typeLHP="chuadk" IdFormDangKy="@formDky.ID" titleForm="Đăng ký trợ giảng LHP: @items.LopHocPhan.MaLHP - @items.LopHocPhan.TenHP."
                                                               name="@items.LopHocPhan.ID"
                                                               class="btn btn-sm btn-light me-2"
                                                               id="applyLHP-@items.LopHocPhan.ID">Ứng tuyển</a>
                                                            <a id="applyTASK-@items.LopHocPhan.ID" titleTaskList="Chi tiết công việc LHP: @items.LopHocPhan.MaLHP - @items.LopHocPhan.TenHP." name="@items.LopHocPhan.ID" class="btn btn-sm btn-light">Chi tiết công việc</a>
                                                        </p>
                                                    }
                                                }
                                            </td>
                                        }
                                        else
                                        {
                                            <td></td>
                                        }
                                    }
                                    else if (j == 3) //10-12
                                    {
                                        var lstTkbs = lstTkb.Where(w => w.LopHocPhan.TenHP.ToLower().Equals(item.Select(s => new { s.LopHocPhan.TenHP }).First().TenHP.ToLower()) && (w.TietBD == 10 || w.TietS == 10) && w.ThuS == (i + 2)).ToList();
                                        if (lstTkbs.Count > 0)
                                        {
                                            <td style="padding: 10px;">

                                                @foreach (var items in lstTkbs)
                                                {
                                                    if (items.LopHocPhan.UngTuyenTroGiang.FirstOrDefault(f => f.ID_TaiKhoan == idTk) != null)
                                                    {
                                                        <p data-bs-toggle="tooltip" data-bs-html="true"
                                                           title="<b>@items.LopHocPhan.MaLHP</b><br><b>Tuần BĐ/KT:</b> @(items.TuanBD)/@(items.TuanKT)<br> <b>Phòng:</b> @(items.Phong)<br><b>Tiết học:</b> @(items.TietHoc)<br><b>GV:</b> @(items.LopHocPhan.TenCBGD)"
                                                           class="badge bg-success p-3" role="button" style="margin-bottom: 0.5rem;">
                                                            <a typeLHP="dadk" IdFormDangKy="@formDky.ID" titleForm="Cập nhật đăng ký trợ giảng LHP: @items.LopHocPhan.MaLHP - @items.LopHocPhan.TenHP."
                                                               name="@items.LopHocPhan.ID"
                                                               class="btn btn-sm btn-light me-2"
                                                               id="applyLHP-@items.LopHocPhan.ID">
                                                                @if (items.LopHocPhan.UngTuyenTroGiang.FirstOrDefault(f => f.ID_TaiKhoan == idTk).TrangThai == false)
                                                                {
                                                                    <span>Cập nhật ứng tuyển</span>
                                                                }
                                                                else
                                                                {
                                                                    <span>Chi tiết ứng tuyển</span>
                                                                }
                                                            </a>
                                                            <a id="applyTASK-@items.LopHocPhan.ID" titleTaskList="Chi tiết công việc LHP: @items.LopHocPhan.MaLHP - @items.LopHocPhan.TenHP." name="@items.LopHocPhan.ID" class="btn btn-sm btn-light">Chi tiết công việc</a>
                                                        </p>
                                                    }
                                                    else
                                                    {
                                                        <p data-bs-toggle="tooltip" data-bs-html="true"
                                                           title="<b>@items.LopHocPhan.MaLHP</b><br><b>Tuần BĐ/KT:</b> @(items.TuanBD)/@(items.TuanKT)<br> <b>Phòng:</b> @(items.Phong)<br><b>Tiết học:</b> @(items.TietHoc)<br><b>GV:</b> @(items.LopHocPhan.TenCBGD)"
                                                           class="badge bg-warning p-3" role="button" style="margin-bottom: 0.5rem;">
                                                            <a typeLHP="chuadk" IdFormDangKy="@formDky.ID" titleForm="Đăng ký trợ giảng LHP: @items.LopHocPhan.MaLHP - @items.LopHocPhan.TenHP."
                                                               name="@items.LopHocPhan.ID"
                                                               class="btn btn-sm btn-light me-2"
                                                               id="applyLHP-@items.LopHocPhan.ID">Ứng tuyển</a>
                                                            <a id="applyTASK-@items.LopHocPhan.ID" titleTaskList="Chi tiết công việc LHP: @items.LopHocPhan.MaLHP - @items.LopHocPhan.TenHP." name="@items.LopHocPhan.ID" class="btn btn-sm btn-light">Chi tiết công việc</a>
                                                        </p>
                                                    }
                                                }
                                            </td>
                                        }
                                        else
                                        {
                                            <td></td>
                                        }
                                    }
                                    else if (j == 4) //13-15
                                    {
                                        var lstTkbs = lstTkb.Where(w => w.LopHocPhan.TenHP.ToLower().Equals(item.Select(s => new { s.LopHocPhan.TenHP }).First().TenHP.ToLower()) && (w.TietBD == 13 || w.TietS == 13) && w.ThuS == (i + 2)).ToList();
                                        if (i == 6)
                                        {

                                            if (lstTkbs.Count > 0)
                                            {
                                                <td style="padding: 10px; box-shadow: inset -1px 0 0 var(--geeks-body-color)">

                                                    @foreach (var items in lstTkbs)
                                                    {
                                                        if (items.LopHocPhan.UngTuyenTroGiang.FirstOrDefault(f => f.ID_TaiKhoan == idTk) != null)
                                                        {
                                                            <p data-bs-toggle="tooltip" data-bs-html="true"
                                                               title="<b>@items.LopHocPhan.MaLHP</b><br><b>Tuần BĐ/KT:</b> @(items.TuanBD)/@(items.TuanKT)<br> <b>Phòng:</b> @(items.Phong)<br><b>Tiết học:</b> @(items.TietHoc)<br><b>GV:</b> @(items.LopHocPhan.TenCBGD)"
                                                               class="badge bg-success p-3" role="button" style="margin-bottom: 0.5rem;">
                                                                <a typeLHP="dadk" IdFormDangKy="@formDky.ID" titleForm="Cập nhật đăng ký trợ giảng LHP: @items.LopHocPhan.MaLHP - @items.LopHocPhan.TenHP."
                                                                   name="@items.LopHocPhan.ID"
                                                                   class="btn btn-sm btn-light me-2"
                                                                   id="applyLHP-@items.LopHocPhan.ID">
                                                                    @if (items.LopHocPhan.UngTuyenTroGiang.FirstOrDefault(f => f.ID_TaiKhoan == idTk).TrangThai == false)
                                                                    {
                                                                        <span>Cập nhật ứng tuyển</span>
                                                                    }
                                                                    else
                                                                    {
                                                                        <span>Chi tiết ứng tuyển</span>
                                                                    }
                                                                </a>
                                                                <a id="applyTASK-@items.LopHocPhan.ID" titleTaskList="Chi tiết công việc LHP: @items.LopHocPhan.MaLHP - @items.LopHocPhan.TenHP." name="@items.LopHocPhan.ID" class="btn btn-sm btn-light">Chi tiết công việc</a>
                                                            </p>
                                                        }
                                                        else
                                                        {
                                                            <p data-bs-toggle="tooltip" data-bs-html="true"
                                                               title="<b>@items.LopHocPhan.MaLHP</b><br><b>Tuần BĐ/KT:</b> @(items.TuanBD)/@(items.TuanKT)<br> <b>Phòng:</b> @(items.Phong)<br><b>Tiết học:</b> @(items.TietHoc)<br><b>GV:</b> @(items.LopHocPhan.TenCBGD)"
                                                               class="badge bg-warning p-3" role="button" style="margin-bottom: 0.5rem;">
                                                                <a typeLHP="chuadk" IdFormDangKy="@formDky.ID" titleForm="Đăng ký trợ giảng LHP: @items.LopHocPhan.MaLHP - @items.LopHocPhan.TenHP."
                                                                   name="@items.LopHocPhan.ID"
                                                                   class="btn btn-sm btn-light me-2"
                                                                   id="applyLHP-@items.LopHocPhan.ID">Ứng tuyển</a>
                                                                <a id="applyTASK-@items.LopHocPhan.ID" titleTaskList="Chi tiết công việc LHP: @items.LopHocPhan.MaLHP - @items.LopHocPhan.TenHP." name="@items.LopHocPhan.ID" class="btn btn-sm btn-light">Chi tiết công việc</a>
                                                            </p>
                                                        }
                                                    }
                                                </td>
                                            }
                                            else
                                            {
                                                <td style="box-shadow: inset -1px 0 0 var(--geeks-body-color) "></td>
                                            }
                                        }
                                        else
                                        {
                                            if (lstTkbs.Count > 0)
                                            {
                                                <td style="padding: 10px; box-shadow: inset -3px 0 0 var(--geeks-body-color)">

                                                    @foreach (var items in lstTkbs)
                                                    {
                                                        if (items.LopHocPhan.UngTuyenTroGiang.FirstOrDefault(f => f.ID_TaiKhoan == idTk) != null)
                                                        {
                                                            <p data-bs-toggle="tooltip" data-bs-html="true"
                                                               title="<b>@items.LopHocPhan.MaLHP</b><br><b>Tuần BĐ/KT:</b> @(items.TuanBD)/@(items.TuanKT)<br> <b>Phòng:</b> @(items.Phong)<br><b>Tiết học:</b> @(items.TietHoc)<br><b>GV:</b> @(items.LopHocPhan.TenCBGD)"
                                                               class="badge bg-success p-3" role="button" style="margin-bottom: 0.5rem;">
                                                                <a typeLHP="dadk" IdFormDangKy="@formDky.ID" titleForm="Cập nhật đăng ký trợ giảng LHP: @items.LopHocPhan.MaLHP - @items.LopHocPhan.TenHP."
                                                                   name="@items.LopHocPhan.ID"
                                                                   class="btn btn-sm btn-light me-2"
                                                                   id="applyLHP-@items.LopHocPhan.ID">
                                                                    @if (items.LopHocPhan.UngTuyenTroGiang.FirstOrDefault(f => f.ID_TaiKhoan == idTk).TrangThai == false)
                                                                    {
                                                                        <span>Cập nhật ứng tuyển</span>
                                                                    }
                                                                    else
                                                                    {
                                                                        <span>Chi tiết ứng tuyển</span>
                                                                    }
                                                                </a>
                                                                <a id="applyTASK-@items.LopHocPhan.ID" titleTaskList="Chi tiết công việc LHP: @items.LopHocPhan.MaLHP - @items.LopHocPhan.TenHP." name="@items.LopHocPhan.ID" class="btn btn-sm btn-light">Chi tiết công việc</a>
                                                            </p>
                                                        }
                                                        else
                                                        {
                                                            <p data-bs-toggle="tooltip" data-bs-html="true"
                                                               title="<b>@items.LopHocPhan.MaLHP</b><br><b>Tuần BĐ/KT:</b> @(items.TuanBD)/@(items.TuanKT)<br> <b>Phòng:</b> @(items.Phong)<br><b>Tiết học:</b> @(items.TietHoc)<br><b>GV:</b> @(items.LopHocPhan.TenCBGD)"
                                                               class="badge bg-warning p-3" role="button" style="margin-bottom: 0.5rem;">
                                                                <a typeLHP="chuadk" IdFormDangKy="@formDky.ID" titleForm="Đăng ký trợ giảng LHP: @items.LopHocPhan.MaLHP - @items.LopHocPhan.TenHP."
                                                                   name="@items.LopHocPhan.ID"
                                                                   class="btn btn-sm btn-light me-2"
                                                                   id="applyLHP-@items.LopHocPhan.ID">Ứng tuyển</a>
                                                                <a id="applyTASK-@items.LopHocPhan.ID" titleTaskList="Chi tiết công việc LHP: @items.LopHocPhan.MaLHP - @items.LopHocPhan.TenHP." name="@items.LopHocPhan.ID" class="btn btn-sm btn-light">Chi tiết công việc</a>
                                                            </p>
                                                        }
                                                    }
                                                </td>
                                            }
                                            else
                                            {
                                                <td style="box-shadow: inset -3px 0 0 var(--geeks-body-color) "></td>
                                            }
                                        }
                                    }
                                }
                            }
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    }
</div>

<script src="~/Content/assets/libs/multiple-select/js/multiple-select.min.js"></script>
<script>
    $('#locgiangvien').multipleSelect({ filter: true });
    $('#locmonhoc').multipleSelect({ filter: true });
</script>


