@model IEnumerable<QuanLyCongTacTroGiangKhoaCNTT.Models.LopHocPhan>
@using QuanLyCongTacTroGiangKhoaCNTT.Models
@{
    CongTacTroGiangKhoaCNTTEntities models = new CongTacTroGiangKhoaCNTTEntities();
    var lstTkb = Model.ToList();
    int idTk = Int32.Parse(Session["user-id"].ToString());

    int id_hkGanNhat = 0;
    int id_nganhCNTT = 0;

    if (lstTkb.Count > 0)
    {
        var tkb = lstTkb.First();
        id_hkGanNhat = tkb.ID_HocKy;
        id_nganhCNTT = tkb.ID_Nganh;
    }

    var currentDate = Convert.ToDateTime(DateTime.Now.ToString("yyyy-MM-dd"));

    var formDky = models.FormDangKyTroGiang.FirstOrDefault(w => w.ID_HocKy == id_hkGanNhat && w.ID_Nganh == id_nganhCNTT
    && w.ThoiGianMo <= currentDate && w.ThoiGianDong >= currentDate);
}

<div id="filterParentLoad">
    @if (formDky == null)
    {
        <div class="card" id="pageload">
            <p class="m-4 text-center h3">Ngoài thời gian đăng ký</p>
        </div>
    }
    else
    {
        <div class="card-header border-bottom-1 pt-0">
            <div class="row">
                <div class="mb-3 col-md-4 col-12">
                    <label class="form-label">Lọc môn học</label>
                    <select class="form-select" id="locmonhoc" placeholder="Lọc giảng viên" multiple="multiple">
                        @foreach (var item in lstTkb.ToList())
                        {
                            <option selected value="@item.MaMH">@item.TenHP</option>
                        }
                    </select>
                </div>
                <div class="mb-3 col-md-4 col-12">
                    <label class="form-label">Lọc giảng viên</label>
                    <select class="form-select" id="locgiangvien" placeholder="Lọc giảng viên" multiple="multiple" filter="true">
                        @foreach (var item in lstTkb)
                        {
                            <option selected value="@item.MaCBGD">@item.TenCBGD</option>
                        }
                    </select>
                </div>
                <div class="mb-3 col-md-4 col-12">
                    <label class="form-label">Lọc trạng thái</label>
                    <select class="form-select" id="loctrangthai">
                        <option value="tatca">Chọn tất cả</option>
                        <option value="chuadangky">Chưa đăng ký</option>
                        <option value="dadangky">Đã đăng ký</option>
                    </select>
                </div>
            </div>
        </div>
        <!-- table  -->
        <div class="card-body" id="filterLoad">
            <div class="table-card">
                <table id="dataTableBasic" class="table table-hover" style="width:100%">
                    <thead class="table-light">
                        <tr>
                            <th class="text-nowrap">Mã LHP</th>
                            <th class="text-nowrap">Tên HP</th>
                            <th class="text-nowrap">Lịch Học</th>
                            <th class="text-nowrap">Số tiết</th>
                            <th class="text-nowrap">Ứng tuyển</th>
                            <th class="text-nowrap"></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in lstTkb.ToList())
                        {
                            <tr>
                                <td valign="middle">@item.MaLHP</td>
                                <td valign="middle">@item.TenHP</td>
                                <td valign="middle">
                                    <ul>
                                        @foreach (var items in item.ThoiKhoaBieu.ToList())
                                        {
                                            <li>
                                                @(items.Thu); Tiết @(items.TietHoc); Tuần @(items.TuanBD) - @(items.TuanKT); Phòng @(items.Phong)
                                            </li>
                                        }
                                    </ul>
                                </td>
                                <td valign="middle">@item.ThoiKhoaBieu.Sum(s => s.SoTietDaXep)</td>
                                <td valign="middle" class="text-nowrap">
                                    @if (item.UngTuyenTroGiang.FirstOrDefault(f => f.ID_TaiKhoan == idTk) != null)
                                    {
                                        if (item.UngTuyenTroGiang.FirstOrDefault(f => f.ID_TaiKhoan == idTk).TrangThai == false)
                                        {
                                            <span data-bs-toggle="tooltip" data-bs-html="true" title="Cập nhật thông tin ứng tuyển">
                                                <a role="button" typeLHP="dadk" IdFormDangKy="@formDky.ID" titleForm="Cập nhật đăng ký trợ giảng LHP: @item.MaLHP - @item.TenHP."
                                                   name="@item.ID" class="btn btn-primary btn-sm" id="applyLHP-@item.ID">
                                                    Cập nhật
                                                </a>
                                            </span>
                                        }
                                        else
                                        {
                                            <span data-bs-toggle="tooltip" data-bs-html="true" title="Xem chi tiết thông tin ứng tuyển">
                                                <a role="button" typeLHP="dadk" IdFormDangKy="@formDky.ID" titleForm="Chi tiết đăng ký trợ giảng LHP: @item.MaLHP - @item.TenHP."
                                                   name="@item.ID" class="btn btn-primary btn-sm" id="applyLHP-@item.ID">
                                                    Cập nhật
                                                </a>
                                            </span>
                                        }
                                    }
                                    else
                                    {
                                        <span data-bs-toggle="tooltip" data-bs-html="true" title="Đăng ký ứng tuyển trợ giảng LHP">
                                            <a role="button" typeLHP="chuadk" IdFormDangKy="@formDky.ID" titleForm="Đăng ký trợ giảng LHP: @item.MaLHP - @item.TenHP."
                                               name="@item.ID" class="btn btn-success btn-sm" id="applyLHP-@item.ID">
                                                Ứng tuyển
                                            </a>
                                        </span>
                                    }
                                </td>
                                <td valign="middle" class="text-nowrap">
                                    <span data-bs-toggle="tooltip" data-bs-html="true" title="Xem chi tiết công việc">
                                        <a style="font-size: 20px" role="button" id="applyTASK-@item.ID"
                                           titleTaskList="Chi tiết công việc LHP: @item.MaLHP - @item.TenHP."
                                           name="@item.ID" class="text-primary">
                                            <i class="bi bi-info-square me-2"></i>
                                        </a>
                                    </span>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    }
</div>

<script src="~/Content/assets/libs/multiple-select/js/multiple-select.min.js"></script>
<script>
    $('#dataTableBasic').DataTable();
    $('#locgiangvien').multipleSelect({ filter: true });
    $('#locmonhoc').multipleSelect({ filter: true });
</script>


