@model IEnumerable<QuanLyCongTacTroGiangKhoaCNTT.Models.UngTuyenTroGiang>
@{
    int i = 0;
}

<div class="card-body mt-3" id="filterLoad">
    <div class="table-card">
        <table id="dataTableBasic" class="table table-hover" style="width:100%">
            <thead class="table-light">
                <tr>
                    <th class="text-nowrap">Sinh viên</th>
                    <th class="text-nowrap">Lớp HP</th>
                    <th class="text-nowrap">Điểm số</th>
                    <th class="text-nowrap">Phỏng vấn</th>
                    <th class="text-nowrap">Trạng Thái</th>
                    <th class="text-nowrap"></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.OrderByDescending(o => o.ID))
                {
                    var idtk = item.ID_TaiKhoan;
                    i++;
                    <tr>
                        <td valign="middle">
                            MSSV: @item.MSSV
                            <br />
                            Họ & Tên: @item.HoTen
                            <br />
                            <span class="text-nowrap">Email: @item.Email</span>
                            <br />
                            <span data-bs-toggle="tooltip" data-bs-html="true" title="Số ĐT: @item.SoDienThoai<br/>Ngày sinh: @(item.NgaySinh != null ? item.NgaySinh.Value.ToString("yyyy-MM-dd") : "")<br />Giới tính: @item.GioiTinh" class="badge bg-info" role="button"><i class="bi bi-info-circle me-2"></i>Thông tin thêm</span>
                        </td>
                        <td valign="middle" class="text-nowrap">
                            Mã LHP: @item.LopHocPhan.MaLHP
                            <br />
                            Tên HP: @item.LopHocPhan.TenHP
                        </td>
                        <td valign="middle" class="text-nowrap">
                            TB Chung: @item.DiemTBTL
                            <br />
                            Rèn luyện: @item.DiemRL
                            <br />
                            TK môn: @item.DiemTKMH
                        </td>
                        <td valign="middle">
                            @if (item.LopHocPhan.PhanCongTroGiang.Where(w => w.ID_TaiKhoan != idtk).Count() > 0)
                            {
                                if (item.DanhGiaPhongVan.Count > 0)
                                {
                                    if (!item.DanhGiaPhongVan.First().KetLuanDat.Value)
                                    {
                                        <a id="ketquapv-@item.ID" name="@item.ID" style="min-width: 130px !important" editState="false" data-bs-toggle="tooltip" data-bs-html="true" titleForm="Kết quả phỏng vấn TA: @item.MSSV - @item.HoTen" title="Chọn để xem thông tin/kết quả phỏng vấn" class="btn btn-danger btn-sm text-nowrap"><i class="bi bi-info-circle me-2"></i>Chưa đạt</a>
                                    }
                                    else
                                    {
                                        <a id="ketquapv-@item.ID" name="@item.ID" style="min-width: 130px !important" editState="false" data-bs-toggle="tooltip" data-bs-html="true" titleForm="Kết quả phỏng vấn TA: @item.MSSV - @item.HoTen" title="Chọn để xem thông tin/kết quả phỏng vấn" class="btn btn-success btn-sm text-nowrap"><i class="bi bi-info-circle me-2"></i>Đạt</a>
                                    }
                                }
                                else
                                {
                                    <a data-bs-toggle="tooltip" data-bs-html="true" style="min-width: 130px !important" title="LHP đã có TA không cần phỏng vấn" class="btn btn-warning btn-sm text-nowrap"><i class="bi bi-info-circle me-2"></i>LHP đã có TA</a>
                                }
                            }
                            else
                            {
                                if (item.DanhGiaPhongVan.Count > 0)
                                {
                                    if (!item.DanhGiaPhongVan.First().KetLuanDat.Value)
                                    {
                                        <a id="ketquapv-@item.ID" name="@item.ID" style="min-width: 130px !important" editState="false" data-bs-toggle="tooltip" data-bs-html="true" titleForm="Kết quả phỏng vấn TA: @item.MSSV - @item.HoTen" title="Chọn để xem thông tin/kết quả phỏng vấn" class="btn btn-danger btn-sm text-nowrap"><i class="bi bi-info-circle me-2"></i>Chưa đạt</a>
                                    }
                                    else
                                    {
                                        <a id="ketquapv-@item.ID" name="@item.ID" style="min-width: 130px !important" editState="false" data-bs-toggle="tooltip" data-bs-html="true" titleForm="Kết quả phỏng vấn TA: @item.MSSV - @item.HoTen" title="Chọn để xem thông tin/kết quả phỏng vấn" class="btn btn-success btn-sm text-nowrap"><i class="bi bi-info-circle me-2"></i>Đạt</a>
                                    }
                                }
                                else
                                {
                                    <a id="ketquapv-@item.ID" name="@item.ID" style="min-width: 130px !important" editState="true" data-bs-toggle="tooltip" data-bs-html="true" titleForm="Cập nhật kết quả phỏng vấn TA: @item.MSSV - @item.HoTen" title="Chọn để cập nhật kết quả phỏng vấn" class="btn btn-primary btn-sm text-nowrap"><i class="bi bi-info-circle me-2"></i>Chưa PV</a>
                                }
                            }
                        </td>
                        <td valign="middle" class="text-nowrap">
                            @if (item.LopHocPhan.PhanCongTroGiang.Where(w => w.ID_TaiKhoan == idtk).Count() < 1)
                            {
                                <span data-bs-toggle="tooltip" data-bs-html="true" title="" class="badge bg-warning">Chưa phân công</span>
                            }
                            else
                            {
                                <span data-bs-toggle="tooltip" data-bs-html="true" title="" class="badge bg-success">Đã phân công</span>
                            }
                        </td>
                        <td valign="middle" class="text-nowrap">
                            <a style="font-size: 20px" role="button" id="chitietungtuyen-@item.ID" titleForm="Thông tin ứng tuyển Trợ giảng @item.MSSV - @item.HoTen" name="@item.ID" class="text-primary">
                                <span data-bs-toggle="tooltip" data-bs-html="true" title="Xem chi tiết"><i class="bi bi-info-square"></i></span>
                            </a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

<script>
    $('#dataTableBasic').DataTable();
</script>