@using QuanLyCongTacTroGiangKhoaCNTT.Models
@model QuanLyCongTacTroGiangKhoaCNTT.Models.CongViec
@{
    CongTacTroGiangKhoaCNTTEntities models = new CongTacTroGiangKhoaCNTTEntities();
    int idTk = Int32.Parse(Session["user-id"].ToString());
    var role = models.TaiKhoan.Find(idTk);
}
<div class="modal-body" id="contentTaskDetail">
    <div class="row">
        <div class="col-8">
            <div class="row">
                <div class="col-12">
                    <div class="mb-3">
                        <label class="form-label" for="hoten">
                            Mô tả công việc
                        </label>
                        <textarea class="form-control text-dark" style="height: 126px !important;" disabled>@Model.MoTa</textarea>
                        <span class="text-danger" id="valid-hoten"></span>
                    </div>
                </div>
                <div class="col-12">
                    <div class="mb-3">
                        <label class="form-label" for="hoten">
                            Kết quả mong đợi
                        </label>
                        <textarea class="form-control text-dark" style="height: 126px !important;" disabled>@Model.KetQuaMongDoi</textarea>
                        <span class="text-danger" id="valid-hoten"></span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="row">
                <div class="col-12">
                    <div class="mb-3">
                        @if (!role.AspNetUsers.AspNetRoles.First().ID.Equals("4"))
                        {
                            <label class="form-label" for="gioitinh">
                                Tình trạng <span class="text-danger">*</span>
                            </label>
                            <select class="form-select" id="ketqua">
                                @if (string.IsNullOrEmpty(Model.KetQuaCongViec))
                                {
                                    <option selected value="">---- Chọn tình trạng ----</option>
                                    <option value="chuahoanthanh">Chưa hoàn thành</option>
                                    <option value="hoanthanh">Hoàn thành</option>
                                }
                                else if (Model.KetQuaCongViec.Equals("hoanthanh"))
                                {
                                    <option value="">---- Chọn tình trạng ----</option>
                                    <option value="chuahoanthanh">Chưa hoàn thành</option>
                                    <option selected value="dahoanthanh">Hoàn thành</option>
                                }
                                else
                                {
                                    <option value="">---- Chọn tình trạng ----</option>
                                    <option selected value="chuahoanthanh">Chưa hoàn thành</option>
                                    <option value="dahoanthanh">Hoàn thành</option>
                                }
                            </select>
                        }
                        else
                        {
                            <label class="form-label" for="gioitinh">
                                Trạng thái <span class="text-danger">*</span>
                            </label>
                            <select class="form-select" id="trangthai">
                                @if (Model.TrangThai.Equals("canlam"))
                                {
                                    <option selected value="Cần làm">Cần làm</option>
                                    <option value="Đang thực hiện">Đang thực hiện</option>
                                    <option value="Hoàn thành">Hoàn thành</option>
                                }
                                else if (Model.KetQuaCongViec.Equals("hoanthanh"))
                                {
                                    <option value="Cần làm">Cần làm</option>
                                    <option value="Đang thực hiện">Đang thực hiện</option>
                                    <option selected value="Hoàn thành">Hoàn thành</option>
                                }
                                else
                                {
                                    <option value="Cần làm">Cần làm</option>
                                    <option selected value="Đang thực hiện">Đang thực hiện</option>
                                    <option value="Hoàn thành">Hoàn thành</option>
                                }
                            </select>
                        }

                    </div>
                </div>
                <div class="col-12">
                    <div class="mb-3">
                        <label class="form-label" for="hoten">
                            Số giờ quy đổi @*<small><small class="text-muted">(số giờ ước lượng)</small></small>*@
                        </label>
                        <input value="@Model.SoGioQuyDoi.ToString().Replace(",", ".")" type="number" class="form-control text-dark" disabled />
                    </div>
                </div>
                <div class="col-12">
                    <div class="mb-3">
                        <label class="form-label" for="hoten">
                            Thời hạn hoàn thành
                        </label>
                        <input id="editHanHoanThanh" value="@Model.ThoiHanHoanThanh.ToString("yyyy-MM-dd")" type="text" class="form-control text-dark" disabled />
                    </div>
                </div>
                <div class="col-12">
                    <div class="mb-3">
                        <label class="form-label" for="hoten">
                            Nơi làm việc
                        </label>
                        <input value="@Model.NoiLamViec" type="text" class="form-control text-dark" disabled />
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12">
            <div class="mb-3">
                <label class="form-label" for="hoten">Đặt câu hỏi hoặc thêm ghi chú công việc</label>
                <textarea maxlength="300" placeholder="Nhập tối đa 300 ký tự" rows="4" class="form-control text-dark">@Model.GhiChu</textarea>
            </div>
        </div>
    </div>
</div>
