@using QuanLyCongTacTroGiangKhoaCNTT.Models
@{
    CongTacTroGiangKhoaCNTTEntities models = new CongTacTroGiangKhoaCNTTEntities();
    var lstHk = models.HocKy.ToList();
    var lstNganh = models.Nganh.ToList();

    ViewBag.Title = "Teaching Assistant";
    Layout = Session["layout"].ToString();

    var lstUs = models.TaiKhoan.ToList();
    int i = 0;

    int idtk = Int32.Parse(Session["user-id"].ToString());
    var tksv = models.TaiKhoan.Find(idtk);
}
<script src="~/ActiveItemMenu/TeachingAssistant/evaluation.js"></script>
<section class="container-fluid p-4">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-12">
            <!-- Page header -->
            <div class="border-bottom pb-3 mb-3 d-md-flex align-items-center justify-content-between">
                <div class="mb-3 mb-lg-0">
                    <h1 class="mb-0 h2 fw-bold">Đánh Giá Công Việc</h1>
                    <!-- Breadcrumb -->
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item">
                                <a href="@Url.Action("index", "dashboard")">Trang chủ</a>
                            </li>
                            <li class="breadcrumb-item">
                                <a>Trợ Giảng</a>
                            </li>
                            <li class="breadcrumb-item active" aria-current="page">
                                Đánh Giá Công Việc
                            </li>
                        </ol>
                    </nav>
                </div>
                <!-- button -->
                <div>
                    @*<a href="#" class="btn btn-primary me-2" data-bs-toggle="modal" data-bs-target="#themmoi">Thêm Trợ Giảng</a>*@
                </div>
            </div>
        </div>

    </div>

    <div class="row">
        <!-- basic table -->
        <div class="col-md-12 col-12 mb-5">
            <div class="card">
                <div class="card-header border-bottom-1 pt-3">
                    <div class="row">
                        <div class="mb-3 col-md-6 col-12 ">
                            <label class="form-label">Đợt đăng ký</label>
                            <select id="hocky" class="form-select" data-width="100%">
                                @foreach (var item in lstHk)
                                {
                                    if (item.TenHocKy.Equals("242"))
                                    {
                                        <option selected value="@item.id">Học kỳ @item.TenHocKy</option>
                                        continue;
                                    }
                                    <option value="@item.id">Học kỳ @item.TenHocKy</option>
                                }
                            </select>
                        </div>
                        <div class="mb-3 col-md-6 col-12">
                            <label class="form-label">Lớp học phần</label>
                            <select id="hocky" class="form-select" data-width="100%">
                                <option value="">221_71ITBS10103_01 - Nhập môn công nghệ thông tin</option>
                            </select>
                        </div>

                    </div>
                </div>
                <!-- table  -->
                <div class="card-body mt-3">
                    <div class="table-card">
                        <table id="dataTableBasic" class="table table-hover" style="width:100%">
                            <thead class="table-light">
                                <tr>
                                    <th>TT</th>
                                    <th>Mô tả công việc</th>
                                    <th>K.Lượng</th>
                                    <th>T.Gian thực hiện</th>
                                    <th>Nơi làm việc</th>
                                    <th>Kết quả mong đợi</th>
                                    <th>Trạng thái</th>
                                    <th>Đánh giá</th>
                                </tr>
                            </thead>
                            <tbody>
                                @for (int j = 1; j <= 10; j++)
                                {
                                    <tr id="parent-@j" name="@j">
                                        <td valign="middle">
                                            @j
                                        </td>
                                        <td valign="middle">
                                            Mô tả công việc @j
                                        </td>
                                        <td valign="middle">
                                            @(j)h
                                        </td>
                                        <td valign="middle">
                                            Trước 0@(j)/10/2024
                                        </td>
                                        <td valign="middle">
                                            Tại nhà
                                        </td>
                                        <td valign="middle">
                                            Hoàn thành công việc
                                        </td>
                                        <td valign="middle">
                                            @if (j == 6 || j == 3)
                                            {
                                                <span class="badge bg-primary"> Đang thực hiện</span>
                                            }
                                            else
                                            {
                                                <span class="badge bg-success"> Hoàn thành</span>
                                            }
                                        </td>
                                        <td valign="middle">
                                            @if (j == 1 || j == 6 || j == 3)
                                            {
                                                <a role="button" name="@j" class="text-danger">
                                                    <span data-bs-toggle="tooltip" data-bs-html="true" title="Chưa hoàn thành"><i style="font-size: 20px" class="bi bi-x-circle-fill"></i></span>
                                                </a>
                                            }
                                            else
                                            {
                                                <a role="button" name="@j" class="text-success">
                                                    <span data-bs-toggle="tooltip" data-bs-html="true" title="Đã hoàn thành"><i style="font-size: 20px" class="bi bi-check-circle-fill"></i></span>
                                                </a>
                                            }
                                        </td>

                                    </tr>

                                }

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<script src="~/Validation/studentaffairs/semester/add.js"></script>
<script src="~/Validation/studentaffairs/semester/edit.js"></script>
<script src="~/Validation/studentaffairs/semester/delete.js"></script>
