@using QuanLyCongTacTroGiangKhoaCNTT.Models
@{
    CongTacTroGiangKhoaCNTTEntities models = new CongTacTroGiangKhoaCNTTEntities();
    var lstHk = models.HocKy.ToList();
    var lstNganh = models.Nganh.ToList();

    ViewBag.Title = "Teaching Assistant";
    Layout = Session["layout"].ToString();
}

<script src="~/ActiveItemMenu/TeachingAssistant/register.js"></script>
<section class="container-fluid p-4">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-12">
            <!-- Page header -->
            <div class="border-bottom pb-3 mb-3 d-md-flex align-items-center justify-content-between">
                <div class="mb-3 mb-lg-0">
                    <h1 class="mb-0 h2 fw-bold">Danh Sách Đăng Ký Trợ Giảng</h1>
                    <!-- Breadcrumb -->
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item">
                                <a href="@Url.Action("index", "dashboard")">Trang chủ</a>
                            </li>
                            <li class="breadcrumb-item">
                                <a>Trợ Giảng</a>
                            </li>
                            <li class="breadcrumb-item active" aria-current="page">
                                Đăng Ký Trợ Giảng
                            </li>
                        </ol>
                    </nav>
                </div>
                <!-- button -->
                <div>
                    <a href="#" class="btn btn-primary me-2" data-bs-toggle="modal" data-bs-target="#themmoi">Mở Đăng Ký</a>
                </div>
            </div>
        </div>

    </div>

    <div class="row">
        <!-- basic table -->
        <div class="col-md-12 col-12 mb-5">
            <div class="card">
                <!-- table  -->
                <div class="card-body">
                    <div class="table-card">
                        <table id="dataTableBasic" class="table table-hover" style="width:100%">
                            <thead class="table-light">
                                <tr>
                                    <th></th>
                                    <th>Học Kỳ</th>
                                    <th>Thời gian mở</th>
                                    <th>Thời gian đóng</th>
                                    <th>Ngành</th>
                                    <th>Đã đăng ký</th>
                                    <th>Trạng thái</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>

                                <tr>
                                    <td>1</td>
                                    <td>243</td>
                                    <td>18:30 16/02/2025</td>
                                    <td>22:30 22/02/2025</td>
                                    <td>Công nghệ thông tin</td>
                                    <td>0</td>
                                    <td><span class="badge bg-primary">Chưa mở</span></td>
                                    <td>
                                        <a style="font-size: 20px" data-bs-toggle="modal" data-bs-target="#capnhat" role="button" @*id="openSua-@item.ID" fullname="@item.Ma - @item.HoTen" name="@item.ID"*@ class="text-success">
                                            <span data-bs-toggle="tooltip" data-bs-html="true" title="Cập nhật"><i class="bi bi-pencil-square me-2"></i></span>
                                        </a>

                                        <a style="font-size: 20px" role="button" @*id="openXoa-@item.ID" fullname="@item.Ma - @item.HoTen" name="@item.ID"*@ class="text-danger">
                                            <span data-bs-toggle="tooltip" data-bs-html="true" title="Xóa bỏ"><i class="bi bi-trash"></i></span>
                                        </a>
                                    </td>
                                </tr>

                                <tr>
                                    <td>2</td>
                                    <td>242</td>
                                    <td>17:00 12/09/2024</td>
                                    <td>23:00 20/09/2024</td>
                                    <td>Công nghệ thông tin</td>
                                    <td>23</td>
                                    <td><span class="badge bg-success">Đang mở</span></td>
                                    <td>
                                        <a style="font-size: 20px" data-bs-toggle="modal" data-bs-target="#capnhat" role="button" @*id="openSua-@item.ID" fullname="@item.Ma - @item.HoTen" name="@item.ID"*@ class="text-success">
                                            <span data-bs-toggle="tooltip" data-bs-html="true" title="Cập nhật"><i class="bi bi-pencil-square me-2"></i></span>
                                        </a>

                                        <a style="font-size: 20px" role="button" @*id="openXoa-@item.ID" fullname="@item.Ma - @item.HoTen" name="@item.ID"*@ class="text-danger">
                                            <span data-bs-toggle="tooltip" data-bs-html="true" title="Xóa bỏ"><i class="bi bi-trash"></i></span>
                                        </a>
                                    </td>
                                </tr>


                                <tr>
                                    <td>3</td>
                                    <td>233</td>
                                    <td>19:00 20/04/2023</td>
                                    <td>00:00 27/04/2023</td>
                                    <td>Công nghệ thông tin</td>
                                    <td>25</td>
                                    <td><span class="badge bg-danger">Đã đóng</span></td>
                                    <td>
                                        <a style="font-size: 20px" data-bs-toggle="modal" data-bs-target="#capnhat" role="button" @*id="openSua-@item.ID" fullname="@item.Ma - @item.HoTen" name="@item.ID"*@ class="text-success">
                                            <span data-bs-toggle="tooltip" data-bs-html="true" title="Cập nhật"><i class="bi bi-pencil-square me-2"></i></span>
                                        </a>

                                        <a style="font-size: 20px" role="button" @*id="openXoa-@item.ID" fullname="@item.Ma - @item.HoTen" name="@item.ID"*@ class="text-danger">
                                            <span data-bs-toggle="tooltip" data-bs-html="true" title="Xóa bỏ"><i class="bi bi-trash"></i></span>
                                        </a>
                                    </td>
                                </tr>

                                <tr>
                                    <td>4</td>
                                    <td>231</td>
                                    <td>18:30 20/08/2023</td>
                                    <td>22:30 27/08/2023</td>
                                    <td>Công nghệ thông tin</td>
                                    <td>28</td>
                                    <td><span class="badge bg-danger">Đã đóng</span></td>
                                    <td>
                                        <a style="font-size: 20px" data-bs-toggle="modal" data-bs-target="#capnhat" role="button" @*id="openSua-@item.ID" fullname="@item.Ma - @item.HoTen" name="@item.ID"*@ class="text-success">
                                            <span data-bs-toggle="tooltip" data-bs-html="true" title="Cập nhật"><i class="bi bi-pencil-square me-2"></i></span>
                                        </a>

                                        <a style="font-size: 20px" role="button" @*id="openXoa-@item.ID" fullname="@item.Ma - @item.HoTen" name="@item.ID"*@ class="text-danger">
                                            <span data-bs-toggle="tooltip" data-bs-html="true" title="Xóa bỏ"><i class="bi bi-trash"></i></span>
                                        </a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="themmoi" tabindex="-1" role="dialog" aria-labelledby="themmoi" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="themmoiTitle">Mở đăng ký trợ giảng</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true"></span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-12">
                            <div class="mb-3">
                                <label class="form-label" for="hocky">
                                    Học kỳ <span class="text-danger">*</span>
                                </label>
                                <select class="form-select" id="hocky">
                                    <option selected value="">---- Chọn học kỳ ----</option>
                                    @foreach (var item in lstHk)
                                    {
                                        <option value="@item.id">@item.TenHocKy</option>
                                    }
                                </select>
                                <span class="text-danger" id="valid-hocky"></span>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="mb-3">
                                <label class="form-label" for="nganh">
                                    Ngành <span class="text-danger">*</span>
                                </label>
                                <select class="form-select" id="nganh">
                                    <option selected value="">---- Chọn ngành ----</option>
                                    @foreach (var item in lstNganh)
                                    {
                                        <option value="@item.id">@item.TenNganh</option>
                                    }
                                </select>
                                <span class="text-danger" id="valid-nganh"></span>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="mb-3">
                                <label class="form-label" for="thoigianmo">
                                    Thời gian mở <span class="text-danger">*</span>
                                </label>
                                <input type="datetime-local" id="thoigianmo" class="form-control" placeholder="Chọn thời gian mở">
                                <span class="text-danger" id="valid-thoigianmo"></span>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="mb-3">
                                <label class="form-label" for="thoigiandong">
                                    Thời gian đóng <span class="text-danger">*</span>
                                </label>
                                <input type="datetime-local" id="thoigiandong" class="form-control" placeholder="Chọn thời gian đóng đăng ký">
                                <span class="text-danger" id="valid-thoigiandong"></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button id="btnClose" type="button" class="btn btn-secondary" data-bs-dismiss="modal">Đóng</button>
                    <button id="btnSubmit" type="button" class="btn btn-primary">Lưu thông tin</button>
                </div>
            </div>
        </div>
    </div>

    <!-- CẬP NHẬT -->
    <div class="modal fade" id="capnhat" tabindex="-1" role="dialog" aria-labelledby="capnhat" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="capnhatTitle">Cập nhật đăng ký trợ giảng</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true"></span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-12">
                            <div class="mb-3">
                                <label class="form-label" for="hocky">
                                    Học kỳ <span class="text-danger">*</span>
                                </label>
                                <select class="form-select" id="hocky">
                                    <option selected value="">---- Chọn học kỳ ----</option>
                                    @foreach (var item in lstHk)
                                    {
                                        <option value="@item.id">@item.TenHocKy</option>
                                    }
                                </select>
                                <span class="text-danger" id="valid-hocky"></span>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="mb-3">
                                <label class="form-label" for="nganh">
                                    Ngành <span class="text-danger">*</span>
                                </label>
                                <select class="form-select" id="nganh">
                                    <option selected value="">---- Chọn ngành ----</option>
                                    @foreach (var item in lstNganh)
                                    {
                                        <option value="@item.id">@item.TenNganh</option>
                                    }
                                </select>
                                <span class="text-danger" id="valid-nganh"></span>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="mb-3">
                                <label class="form-label" for="thoigianmo">
                                    Thời gian mở <span class="text-danger">*</span>
                                </label>
                                <input type="datetime-local" id="thoigianmo" class="form-control" placeholder="Chọn thời gian mở">
                                <span class="text-danger" id="valid-thoigianmo"></span>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="mb-3">
                                <label class="form-label" for="thoigiandong">
                                    Thời gian đóng <span class="text-danger">*</span>
                                </label>
                                <input type="datetime-local" id="thoigiandong" class="form-control" placeholder="Chọn thời gian đóng đăng ký">
                                <span class="text-danger" id="valid-thoigiandong"></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button id="btnClose" type="button" class="btn btn-secondary" data-bs-dismiss="modal">Đóng</button>
                    <button id="btnSubmit" type="button" class="btn btn-primary">Lưu thông tin</button>
                </div>
            </div>
        </div>
    </div>

</section>
<script src="~/Validation/studentaffairs/semester/add.js"></script>
<script src="~/Validation/studentaffairs/semester/edit.js"></script>
<script src="~/Validation/studentaffairs/semester/delete.js"></script>
