@using QuanLyCongTacTroGiangKhoaCNTT.Models
@{
    CongTacTroGiangKhoaCNTTEntities models = new CongTacTroGiangKhoaCNTTEntities();
    var lstNganh = models.Nganh.ToList();

    ViewBag.Title = "Trợ giảng";
    Layout = Session["layout"].ToString();

    var currentDate = Convert.ToDateTime(DateTime.Now.ToString("yyyy-MM-dd"));
    var currentYear = DateTime.Now.Year;

    var lstHk = models.HocKy.OrderByDescending(o => o.ID).ToList();
    int id_hkGanNhat = 0;
    if (lstHk.Count > 0)
    {
        id_hkGanNhat = lstHk.First().ID;
    }

    var formDky = models.FormDangKyTroGiang.Where(w => w.ID_HocKy == id_hkGanNhat && w.Nganh.TenNganh.ToLower().Equals("công nghệ thông tin")).ToList().OrderByDescending(o => o.ID);
    int i = 0;
}
<script src="~/ActiveItemMenu/TeachingAssistant/registered.js"></script>
<section class="container-fluid p-4">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-12">
            <!-- Page header -->
            <div class="border-bottom pb-3 mb-3 d-md-flex align-items-center justify-content-between">
                <div class="mb-3 mb-lg-0">
                    <h1 class="mb-0 h2 fw-bold">Danh Sách Sinh Viên Đăng Ký Trợ Giảng</h1>
                    <!-- Breadcrumb -->
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item">
                                <a href="@Url.Action("index", "dashboard")">Trang chủ</a>
                            </li>
                            <li class="breadcrumb-item">
                                <a>Trợ Giảng</a>
                            </li>
                            <li class="breadcrumb-item active" aria-current="page">
                                Đã Đăng Ký
                            </li>
                        </ol>
                    </nav>
                </div>
                <!-- button -->
                <div>
                    @*<a href="#" class="btn btn-primary me-2" data-bs-toggle="modal" data-bs-target="#themmoi">Thêm Trợ Giảng</a>*@
                </div>
            </div>
        </div>

    </div>

    <div class="row">
        <!-- basic table -->
        <div class="col-md-12 col-12 mb-5">
            <div class="card">
                <div class="card-header border-bottom-1 pt-3">
                    <div class="row">
                        <div class="mb-3 col-md-3 col-12 ">
                            <label class="form-label">Học kỳ</label>
                            <select id="hocky" class="form-select" data-width="100%">
                                @foreach (var item in lstHk)
                                {
                                    if (id_hkGanNhat == item.ID)
                                    {
                                        <option name="@item.TenHocKy" selected value="@item.ID">@item.TenHocKy</option>
                                    }
                                    else
                                    {
                                        <option name="@item.TenHocKy" value="@item.ID">@item.TenHocKy</option>
                                    }
                                }
                            </select>
                        </div>
                        <div class="mb-3 col-md-3 col-12 ">
                            <label class="form-label">Ngành</label>
                            <select id="nganh" class="form-select" data-width="100%">
                                @foreach (var item in lstNganh)
                                {
                                    if (item.TenNganh.ToLower().Equals("công nghệ thông tin"))
                                    {
                                        <option name="@item.TenNganh" selected value="@item.ID">@item.TenNganh</option>
                                    }
                                    else
                                    {
                                        <option name="@item.TenNganh" value="@item.ID">@item.TenNganh</option>
                                    }
                                }
                            </select>
                        </div>
                        <div class="mb-3 col-md-3 col-12 ">
                            <label class="form-label">Lọc trạng thái</label>
                            <select id="trangthaiut" class="form-select" data-width="100%">
                                <option value="all">Chọn tất cả</option>
                                <option value="true">Đã được duỵệt</option>
                                <option value="false">Chưa được duyệt</option>
                            </select>
                        </div>
                        @*<div class="mb-3 col-md-3 col-12" style="display: flex; flex-direction: row; align-items: end">
                                <div style="width: 100%; text-align: end">
                                    <a id="btnExport" class="btn btn-outline-secondary">
                                        <i class="bi bi-file-earmark-arrow-down me-1"></i> Export
                                    </a>
                                </div>
                            </div>*@
                    </div>
                </div>
                <!-- table  -->
                <div class="card-body mt-3" id="filterLoad">
                    <div class="table-card">
                        <table id="dataTableBasic" class="table table-hover" style="width:100%">
                            <thead class="table-light">
                                <tr>
                                    <th></th>
                                    <th>Sinh viên</th>
                                    <th>Liên hệ</th>
                                    <th>Lớp HP</th>
                                    <th>Điểm số</th>
                                    <th>Trạng Thái</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var items in formDky.ToList())
                                {
                                    foreach (var item in items.UngTuyenTroGiang.ToList().OrderByDescending(o => o.ID))
                                    {
                                        i++;
                                        int idut = item.ID;
                                        int idtk = item.ID_TaiKhoan;
                                        int idlhp = item.ID_LopHocPhan;

                                        <tr>
                                            <td valign="middle">@i</td>
                                            <td valign="middle">
                                                MSSV: @item.MSSV
                                                <br />
                                                Họ & Tên: @item.HoTen
                                            </td>
                                            <td valign="middle" class="text-nowrap">
                                                @item.Email
                                                <br />
                                                <span data-bs-toggle="tooltip" data-bs-html="true" title="Số ĐT: @item.SoDienThoai<br/>Ngày sinh: @(item.NgaySinh != null ? item.NgaySinh.Value.ToString("yyyy-MM-dd") : "")<br />Giới tính: @item.GioiTinh<br />Ngành: @(item.TaiKhoan.ID_Nganh != null ? item.TaiKhoan.Nganh.TenNganh : "")" class="badge bg-info" role="button"><i class="bi bi-info-circle me-2"></i>Thông tin thêm</span>
                                            </td>
                                            <td valign="middle" class="text-nowrap">
                                                Mã LHP: @item.LopHocPhan.MaLHP
                                                <br />
                                                Tên HP: @item.LopHocPhan.TenHP
                                            </td>
                                            <td valign="middle" class="text-nowrap">
                                                TB Chung: @item.DiemTBTL
                                                <br />
                                                Rèn luyện: @item.DiemRL
                                                <br />
                                                TK môn: @item.DiemTKMH
                                            </td>
                                            <td valign="middle" class="text-nowrap">
                                                @if (models.PhanCongTroGiang.FirstOrDefault(f => f.ID_TaiKhoan == idtk && f.ID_LopHocPhan == idlhp) != null)
                                                {
                                                    <span data-bs-toggle="tooltip" data-bs-html="true" title="" class="badge bg-primary">Đã phân công</span>
                                                }
                                                else if (models.DanhGiaPhongVan.FirstOrDefault(f => f.ID_UngTuyenTroGiang == idut) != null)
                                                {
                                                    <span data-bs-toggle="tooltip" data-bs-html="true" title="" class="badge bg-danger">Phỏng vấn trượt</span>
                                                }
                                                else if (!item.TrangThai)
                                                {
                                                    <span data-bs-toggle="tooltip" data-bs-html="true" title="" class="badge bg-warning">Chưa được duyệt</span>
                                                }
                                                else
                                                {
                                                    <span data-bs-toggle="tooltip" data-bs-html="true" title="" class="badge bg-success">Đã được duyệt</span>
                                                }
                                            </td>
                                            <td valign="middle" class="text-nowrap">
                                                @if (models.PhanCongTroGiang.FirstOrDefault(f => f.ID_TaiKhoan == idtk && f.ID_LopHocPhan == idlhp) != null)
                                                {
                                                    <a style="font-size: 20px" role="button" id="chitietungtuyen-@item.ID" trangthaiUT="daphancong" titleForm="Thông tin ứng tuyển Trợ giảng @item.MSSV - @item.HoTen" name="@item.ID" class="text-primary">
                                                        <span data-bs-toggle="tooltip" data-bs-html="true" title="Xem chi tiết"><i class="bi bi-info-square"></i></span>
                                                    </a>
                                                }
                                                else if (models.DanhGiaPhongVan.FirstOrDefault(f => f.ID_UngTuyenTroGiang == idut) != null)
                                                {
                                                    <a style="font-size: 20px" role="button" id="chitietungtuyen-@item.ID" trangthaiUT="daphancong" titleForm="Thông tin ứng tuyển Trợ giảng @item.MSSV - @item.HoTen" name="@item.ID" class="text-primary">
                                                        <span data-bs-toggle="tooltip" data-bs-html="true" title="Xem chi tiết"><i class="bi bi-info-square"></i></span>
                                                    </a>
                                                }
                                                else
                                                {
                                                    <a style="font-size: 20px" role="button" id="chitietungtuyen-@item.ID" trangthaiUT="@item.TrangThai.ToString().ToLower()" titleForm="Thông tin ứng tuyển Trợ giảng @item.MSSV - @item.HoTen" name="@item.ID" class="text-primary">
                                                        <span data-bs-toggle="tooltip" data-bs-html="true" title="Xem chi tiết & xét duyệt"><i class="bi bi-info-square"></i></span>
                                                    </a>
                                                }
                                            </td>
                                        </tr>
                                    }
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="apply" tabindex="-1" role="dialog" aria-labelledby="apply" aria-hidden="true">
        <div class="modal-dialog modal-lg modal-dialog-scrollable modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="applyTitle"></h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true"></span>
                    </button>
                </div>
                <div class="modal-body" id="content-partialDetail">
                </div>
                <div class="modal-footer">
                    <button id="btnClose" type="button" class="btn btn-secondary" data-bs-dismiss="modal">Đóng</button>
                    <button id="btnSubmit" type="button" class="btn btn-primary">Duyệt ứng tuyển</button>
                    <button id="btnCancel" type="button" class="btn btn-danger">Bỏ duyệt ứng tuyển</button>
                </div>
            </div>
        </div>
    </div>
</section>

<section style="display: none" id="table-export-data">
</section>

<script src="~/Validation/department/registered/detailAndAccepted.js"></script>
<script src="~/Validation/department/registered/filter.js"></script>
<script src="~/Validation/department/registered/exportfile.js"></script>