@model IEnumerable<QuanLyCongTacTroGiangKhoaCNTT.Models.UngTuyenTroGiang>
@using QuanLyCongTacTroGiangKhoaCNTT.Models;
@{
    ViewBag.Title = "Kết quả đăng ký";
    Layout = Session["layout"].ToString();

    CongTacTroGiangKhoaCNTTEntities models = new CongTacTroGiangKhoaCNTTEntities();

    var taikhoan = Session["TaiKhoan"] as TaiKhoan;
    var ma = string.IsNullOrEmpty(taikhoan.Ma) ? "" : taikhoan.Ma.ToLower();

    string userTennganh = taikhoan.Nganh == null ? "công nghệ thông tin" : taikhoan.Nganh.TenNganh.ToLower();
    var userKhoa = models.Khoa.FirstOrDefault(f => f.Nganh.Where(w => w.TenNganh.Equals(userTennganh)).Count() > 0);
    var userNganh = userKhoa.Nganh.OrderByDescending(o => o.ID).ToList();

    var lstHocKy = models.HocKy.OrderByDescending(o => o.ID).ToList();

    var currentDate = Convert.ToDateTime(DateTime.Now.ToString("yyyy-MM-dd"));
    var currentYear = DateTime.Now.Year;

    int idhkGanNhat = 0;
    if (lstHocKy.Count > 0)
    {
        idhkGanNhat = lstHocKy.First().ID;
    }

    var formDky = models.FormDangKyTroGiang.Where(w => w.ID_HocKy == idhkGanNhat && w.Nganh.TenNganh.ToLower().Equals(userTennganh));

    List<int> idForm = new List<int>();
    foreach (var item in formDky)
    {
        idForm.Add(item.ID);
    }

    var lstUt = Model.ToList().Where(w => idForm.Contains(w.ID_FormDangKyTroGiang)).ToList();
}

<script src="~/ActiveItemMenu/TeachingAssistant/resultApply.js"></script>
<section class="container-fluid p-4">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-12">
            <!-- Page header -->
            <div class="border-bottom pb-3 mb-3 d-md-flex align-items-center justify-content-between">
                <div class="mb-3 mb-lg-0">
                    <h1 class="mb-0 h2 fw-bold">Kết quả đăng ký trợ giảng</h1>
                    <!-- Breadcrumb -->
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item">
                                <a href="@Url.Action("index", "dashboard")">Trang chủ</a>
                            </li>
                            <li class="breadcrumb-item" aria-current="page">
                                Trợ giảng
                            </li>
                            <li class="breadcrumb-item active" aria-current="page">
                                Kết quả đăng ký
                            </li>
                        </ol>
                    </nav>
                </div>
                <!-- button -->

            </div>
        </div>

    </div>

    <div class="row">
        <!-- basic table -->
        <div class="col-md-12 col-12 mb-5">
            <div class="card">
                <div class="card-header border-bottom-0 pb-0">
                    <div class="row">
                        <div class="mb-3 col-md-4 col-12">
                            <label class="form-label">Học kỳ</label>
                            <select id="hocky" class="form-select" data-width="100%">
                                @foreach (var item in lstHocKy)
                                {

                                    if (idhkGanNhat == item.ID)
                                    {
                                        <option selected value="@item.ID">@item.TenHocKy</option>
                                    }
                                    else
                                    {
                                        <option value="@item.ID">@item.TenHocKy</option>
                                    }
                                }
                            </select>
                        </div>
                        <div class="mb-3 col-md-4 col-12">
                            <label class="form-label">Ngành</label>
                            <select id="nganh" class="form-select" data-width="100%">
                                @foreach (var item in userNganh)
                                {
                                    if (item.TenNganh.ToLower().Equals(userTennganh))
                                    {
                                        <option selected value="@item.ID">@item.TenNganh</option>
                                    }
                                    else
                                    {
                                        <option value="@item.ID">@item.TenNganh</option>
                                    }
                                }
                            </select>
                        </div>
                    </div>
                </div>
                <!-- table  -->
                <div class="card-body" id="load-content-filter">
                    <div class="table-card">
                        <table id="dataTableBasic" class="table table-hover" style="width:100%">
                            <thead class="table-light">
                                <tr>
                                    <th class="text-nowrap">Mã LHP</th>
                                    <th class="text-nowrap">Tên HP</th>
                                    <th class="text-nowrap">Lịch Học</th>
                                    <th class="text-nowrap">Số tiết</th>
                                    <th class="text-nowrap">Trạng thái</th>
                                    <th class="text-nowrap"></th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in lstUt.ToList())
                                {
                                    <tr>
                                        <td valign="middle">@item.LopHocPhan.MaLHP</td>
                                        <td valign="middle">@item.LopHocPhan.TenHP</td>
                                        <td valign="middle">@(item.LopHocPhan.ThoiKhoaBieu.First().Thu); Tiết @(item.LopHocPhan.ThoiKhoaBieu.First().TietHoc); Tuần @(item.LopHocPhan.ThoiKhoaBieu.First().TuanBD) - @(item.LopHocPhan.ThoiKhoaBieu.First().TuanKT); Phòng @(item.LopHocPhan.ThoiKhoaBieu.First().Phong)</td>
                                        <td valign="middle">@item.LopHocPhan.ThoiKhoaBieu.First().SoTietDaXep</td>
                                        <td valign="middle" class="text-nowrap">
                                            @if (item.DanhGiaPhongVan.Count < 1)
                                            {
                                                <span class="badge bg-warning"><i class="bi bi-ban me-2"></i>Chưa phân công</span>
                                            }
                                            else
                                            {
                                                if (item.DanhGiaPhongVan.First().KetLuanDat == true)
                                                {
                                                    <span class="badge bg-success"><i class="bi bi-check-circle me-2"></i>Đã phân công</span>
                                                }
                                                else
                                                {
                                                    <span class="badge bg-warning"><i class="bi bi-ban me-2"></i>Chưa phân công</span>
                                                }
                                            }
                                        </td>
                                        <td valign="middle" class="text-nowrap">
                                            <a style="font-size: 20px" data-bs-toggle="modal" id="Opentasklist-@item.LopHocPhan.ID" role="button" titleTaskList="Chi tiết công việc LHP: @item.LopHocPhan.MaLHP - @item.LopHocPhan.TenHP." name="@item.LopHocPhan.ID" class="text-primary">
                                                <span data-bs-toggle="tooltip" data-bs-html="true" title="Xem chi tiết công việc"><i class="bi bi-info-square me-2"></i></span>
                                            </a>
                                        </td>
                                    </tr>
                                }

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="taskList" tabindex="-1" role="dialog" aria-labelledby="taskList" aria-hidden="true">
        <div class="modal-dialog modal-xl modal-dialog-scrollable modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="taskListTitle"></h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true"></span>
                    </button>
                </div>
                <div class="modal-body" id="contentTaskList">

                </div>
                <div class="modal-footer">
                    <button id="btnTaskListClose" type="button" class="btn btn-secondary" data-bs-dismiss="modal">Đóng</button>
                </div>
            </div>
        </div>
    </div>
</section>
<script src="~/Validation/SVandTA/resultApply/opentask.js"></script>
