@model IEnumerable<QuanLyCongTacTroGiangKhoaCNTT.Models.ThoiKhoaBieu>
@{
    var lstTkb = Model.ToList();
}
<tbody id="filterLoad">
    @foreach (var item in lstTkb.GroupBy(g => g.MaMH))
    {
        <tr>
            <td class="bg-secondary text-white" style="box-shadow: inset -1px -1px 0 #ffffff; padding: 10px; white-space: normal; min-width: 140px !important; max-width: 200px; word-break: break-word; position: sticky; left: 0;" valign="middle">@item.Select(s => new { s.TenHP }).First().TenHP</td>
            @for (int i = 0; i < 7; i++)
            {
                for (int j = 0; j < 5; j++)
                {
                    if (j == 0) // 1-3
                    {
                        var lstTkbs = lstTkb.Where(w => w.TenHP.ToLower().Equals(item.Select(s => new { s.TenHP }).First().TenHP.ToLower()) && (w.TietBD.Equals("1") || w.TietS.Equals("1")) && w.ThuS.Equals((i + 2).ToString())).ToList();
                        if (lstTkbs.Count > 0)
                        {
                            <td style="padding: 10px;">
                                @foreach (var items in lstTkbs)
                                {
                                    if (items.LoaiHP.ToLower().Equals("thực hành"))
                                    {
                                        <p style="margin-bottom: 0.5rem;"><span data-bs-toggle="tooltip" data-bs-html="true" title="<b>@items.MaGocLHP</b><br><b>Tuần BĐ/KT:</b> @(items.TuanBD)/@(items.TuanKT)<br> <b>Phòng:</b> @(items.Phong)<br><b>Tiết học:</b> @(items.TietHoc)<br><b>TA:</b> Chưa phân" class="badge bg-warning" role="button">GV: @items.TenCBGD</span></p>
                                    }
                                    else
                                    {
                                        <p style="margin-bottom: 0.5rem;"><span data-bs-toggle="tooltip" data-bs-html="true" title="<b>@items.MaGocLHP</b><br><b>Tuần BĐ/KT:</b> @(items.TuanBD)/@(items.TuanKT)<br> <b>Phòng:</b> @(items.Phong)<br><b>Tiết học:</b> @(items.TietHoc)<br><b>TA:</b> Chưa phân" class="badge bg-success" role="button">GV: @items.TenCBGD</span></p>
                                    }
                                }
                            </td>
                        }
                        else
                        {
                            <td></td>
                        }
                    }
                    else if (j == 1) //4-6
                    {
                        var lstTkbs = lstTkb.Where(w => w.TenHP.ToLower().Equals(item.Select(s => new { s.TenHP }).First().TenHP.ToLower()) && (w.TietBD.Equals("4") || w.TietS.Equals("4")) && w.ThuS.Equals((i + 2).ToString())).ToList();
                        if (lstTkbs.Count > 0)
                        {
                            <td style="padding: 10px;">

                                @foreach (var items in lstTkbs)
                                {
                                    if (items.LoaiHP.ToLower().Equals("thực hành"))
                                    {
                                        <p style="margin-bottom: 0.5rem;"><span data-bs-toggle="tooltip" data-bs-html="true" title="<b>@items.MaGocLHP</b><br><b>Tuần BĐ/KT:</b> @(items.TuanBD)/@(items.TuanKT)<br> <b>Phòng:</b> @(items.Phong)<br><b>Tiết học:</b> @(items.TietHoc)<br><b>TA:</b> Chưa phân" class="badge bg-warning" role="button">GV: @items.TenCBGD</span></p>
                                    }
                                    else
                                    {
                                        <p style="margin-bottom: 0.5rem;"><span data-bs-toggle="tooltip" data-bs-html="true" title="<b>@items.MaGocLHP</b><br><b>Tuần BĐ/KT:</b> @(items.TuanBD)/@(items.TuanKT)<br> <b>Phòng:</b> @(items.Phong)<br><b>Tiết học:</b> @(items.TietHoc)<br><b>TA:</b> Chưa phân" class="badge bg-success" role="button">GV: @items.TenCBGD</span></p>
                                    }
                                }
                            </td>
                        }
                        else
                        {
                            <td></td>
                        }
                    }
                    else if (j == 2) //7-9
                    {
                        var lstTkbs = lstTkb.Where(w => w.TenHP.ToLower().Equals(item.Select(s => new { s.TenHP }).First().TenHP.ToLower()) && (w.TietBD.Equals("7") || w.TietS.Equals("7")) && w.ThuS.Equals((i + 2).ToString())).ToList();
                        if (lstTkbs.Count > 0)
                        {
                            <td style="padding: 10px;">

                                @foreach (var items in lstTkbs)
                                {
                                    if (items.LoaiHP.ToLower().Equals("thực hành"))
                                    {
                                        <p style="margin-bottom: 0.5rem;"><span data-bs-toggle="tooltip" data-bs-html="true" title="<b>@items.MaGocLHP</b><br><b>Tuần BĐ/KT:</b> @(items.TuanBD)/@(items.TuanKT)<br> <b>Phòng:</b> @(items.Phong)<br><b>Tiết học:</b> @(items.TietHoc)<br><b>TA:</b> Chưa phân" class="badge bg-warning" role="button">GV: @items.TenCBGD</span></p>
                                    }
                                    else
                                    {
                                        <p style="margin-bottom: 0.5rem;"><span data-bs-toggle="tooltip" data-bs-html="true" title="<b>@items.MaGocLHP</b><br><b>Tuần BĐ/KT:</b> @(items.TuanBD)/@(items.TuanKT)<br> <b>Phòng:</b> @(items.Phong)<br><b>Tiết học:</b> @(items.TietHoc)<br><b>TA:</b> Chưa phân" class="badge bg-success" role="button">GV: @items.TenCBGD</span></p>
                                    }
                                }
                            </td>
                        }
                        else
                        {
                            <td></td>
                        }
                    }
                    else if (j == 3) //10-12
                    {
                        var lstTkbs = lstTkb.Where(w => w.TenHP.ToLower().Equals(item.Select(s => new { s.TenHP }).First().TenHP.ToLower()) && (w.TietBD.Equals("10") || w.TietS.Equals("10")) && w.ThuS.Equals((i + 2).ToString())).ToList();
                        if (lstTkbs.Count > 0)
                        {
                            <td style="padding: 10px;">

                                @foreach (var items in lstTkbs)
                                {
                                    if (items.LoaiHP.ToLower().Equals("thực hành"))
                                    {
                                        <p style="margin-bottom: 0.5rem;"><span data-bs-toggle="tooltip" data-bs-html="true" title="<b>@items.MaGocLHP</b><br><b>Tuần BĐ/KT:</b> @(items.TuanBD)/@(items.TuanKT)<br> <b>Phòng:</b> @(items.Phong)<br><b>Tiết học:</b> @(items.TietHoc)<br><b>TA:</b> Chưa phân" class="badge bg-warning" role="button">GV: @items.TenCBGD</span></p>
                                    }
                                    else
                                    {
                                        <p style="margin-bottom: 0.5rem;"><span data-bs-toggle="tooltip" data-bs-html="true" title="<b>@items.MaGocLHP</b><br><b>Tuần BĐ/KT:</b> @(items.TuanBD)/@(items.TuanKT)<br> <b>Phòng:</b> @(items.Phong)<br><b>Tiết học:</b> @(items.TietHoc)<br><b>TA:</b> Chưa phân" class="badge bg-success" role="button">GV: @items.TenCBGD</span></p>
                                    }
                                }
                            </td>
                        }
                        else
                        {
                            <td></td>
                        }
                    }
                    else if (j == 4) //13-15
                    {
                        var lstTkbs = lstTkb.Where(w => w.TenHP.ToLower().Equals(item.Select(s => new { s.TenHP }).First().TenHP.ToLower()) && (w.TietBD.Equals("13") || w.TietS.Equals("13")) && w.ThuS.Equals((i + 2).ToString())).ToList();
                        if (i == 6)
                        {

                            if (lstTkbs.Count > 0)
                            {
                                <td style="padding: 10px; box-shadow: inset -1px 0 0 var(--geeks-body-color)">

                                    @foreach (var items in lstTkbs)
                                    {
                                        if (items.LoaiHP.ToLower().Equals("thực hành"))
                                        {
                                            <p style="margin-bottom: 0.5rem;"><span data-bs-toggle="tooltip" data-bs-html="true" title="<b>@items.MaGocLHP</b><br><b>Tuần BĐ/KT:</b> @(items.TuanBD)/@(items.TuanKT)<br> <b>Phòng:</b> @(items.Phong)<br><b>Tiết học:</b> @(items.TietHoc)<br><b>TA:</b> Chưa phân" class="badge bg-warning" role="button">GV: @items.TenCBGD</span></p>
                                        }
                                        else
                                        {
                                            <p style="margin-bottom: 0.5rem;"><span data-bs-toggle="tooltip" data-bs-html="true" title="<b>@items.MaGocLHP</b><br><b>Tuần BĐ/KT:</b> @(items.TuanBD)/@(items.TuanKT)<br> <b>Phòng:</b> @(items.Phong)<br><b>Tiết học:</b> @(items.TietHoc)<br><b>TA:</b> Chưa phân" class="badge bg-success" role="button">GV: @items.TenCBGD</span></p>
                                        }
                                    }
                                </td>
                            }
                            else
                            {
                                <td style="box-shadow: inset -1px 0 0 var(--geeks-body-color) "></td>
                            }
                        }
                        else
                        {
                            if (lstTkbs.Count > 0)
                            {
                                <td style="padding: 10px; box-shadow: inset -3px 0 0 var(--geeks-body-color)">

                                    @foreach (var items in lstTkbs)
                                    {
                                        if (items.LoaiHP.ToLower().Equals("thực hành"))
                                        {
                                            <p style="margin-bottom: 0.5rem;"><span data-bs-toggle="tooltip" data-bs-html="true" title="<b>@items.MaGocLHP</b><br><b>Tuần BĐ/KT:</b> @(items.TuanBD)/@(items.TuanKT)<br> <b>Phòng:</b> @(items.Phong)<br><b>Tiết học:</b> @(items.TietHoc)<br><b>TA:</b> Chưa phân" class="badge bg-warning" role="button">GV: @items.TenCBGD</span></p>
                                        }
                                        else
                                        {
                                            <p style="margin-bottom: 0.5rem;"><span data-bs-toggle="tooltip" data-bs-html="true" title="<b>@items.MaGocLHP</b><br><b>Tuần BĐ/KT:</b> @(items.TuanBD)/@(items.TuanKT)<br> <b>Phòng:</b> @(items.Phong)<br><b>Tiết học:</b> @(items.TietHoc)<br><b>TA:</b> Chưa phân" class="badge bg-success" role="button">GV: @items.TenCBGD</span></p>
                                        }
                                    }
                                </td>
                            }
                            else
                            {
                                <td style="box-shadow: inset -3px 0 0 var(--geeks-body-color) "></td>
                            }
                        }
                    }
                }
            }
        </tr>
    }
</tbody>
<script>
    var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
    var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
        return new bootstrap.Tooltip(tooltipTriggerEl)
    });
</script>
