@model QuanLyCongTacTroGiangKhoaCNTT.Models.HocKy

<div class="modal-body" id="capnhathocky-partial">

    <div class="row">
        <div class="col-12">
            <div class="mb-3">
                <label class="form-label" for="edittenhocky">Học kỳ </label>
                <input hidden id="idhk" value="@Model.id" />
                <input value="@Model.TenHocKy" disabled type="number" id="edittenhocky" class="form-control" placeholder="Nhập học kỳ (VD: 224)">
                <span class="text-danger" id="valid-edittenhocky"></span>
            </div>
        </div>
        <div class="col-md-6 col-12">
            <div class="mb-3">
                <label class="form-label" for="editnambatdau">
                    Năm bắt đầu <span class="text-danger">*</span>
                </label>
                <select class="form-select" id="editnambatdau">
                    @for (int i = DateTime.Now.Year - 10; i < DateTime.Now.Year + 10; i++)
                    {
                        if (i == Model.NamBatDau)
                        {
                            <option selected value="@i">@i</option>
                        }
                        else
                        {
                            <option value="@i">@i</option>
                        }
                    }
                </select>
                <span class="text-danger" id="valid-editnambatdau"></span>
            </div>
        </div>
        <div class="col-md-6 col-12">
            <div class="mb-3">
                <label class="form-label" for="editnamketthuc">
                    Năm kết thúc <span class="text-danger">*</span>
                </label>
                <select class="form-select" id="editnamketthuc">
                    @for (int i = DateTime.Now.Year - 10; i < DateTime.Now.Year + 10; i++)
                    {
                        if (i == Model.NamKetThuc)
                        {
                            <option selected value="@i">@i</option>
                        }
                        else
                        {
                            <option value="@i">@i</option>
                        }
                    }
                </select>
                <span class="text-danger" id="valid-editnamketthuc"></span>
            </div>
        </div>

        <div class="col-12">
            <div class="mb-3">
                <label class="form-label" for="edittuanbatdau">
                    Tuần bắt đầu <span class="text-danger">*</span>
                </label>
                <input value="@Model.TuanBatDau" type="number" id="edittuanbatdau" class="form-control" placeholder="Nhập số tuần (VD: 30)">
                <span class="text-danger" id="valid-edittuanbatdau"></span>
            </div>
        </div>
        <div class="col-12">
            <div class="mb-3">
                <label class="form-label" for="editngaybatdau">
                    Ngày bắt đầu <span class="text-danger">*</span>
                </label>
                <input value="@Model.NgayBatDau.ToString("yyyy-MM-dd")" id="editngaybatdau" type="text" class="form-control flatpickr" placeholder="Chọn ngày bắt đầu">
                <span class="text-danger" id="valid-editngaybatdau"></span>
            </div>
        </div>

        <div class="col-md-6 col-12">
            <div class="mb-3">
                <label class="form-label" for="edittiettoida">Số tiết tối đa  <span class="text-danger">*</span></label>
                <input value="@Model.TietToiDa" type="number" id="edittiettoida" class="form-control" placeholder="Nhập số tiết (VD: 60)">
                <span class="text-danger" id="valid-edittiettoida"></span>
            </div>
        </div>
        <div class="col-md-6 col-12">
            <div class="mb-3">
                <label class="form-label" for="editloptoida">Số lớp tối đa <span class="text-danger">*</span></label>
                <input value="@Model.LopToiDa" type="number" id="editloptoida" class="form-control" placeholder="Nhập số lớp (VD: 20)">
                <span class="text-danger" id="valid-editloptoida"></span>
            </div>
        </div>

    </div>
</div>