@using QuanLyCongTacTroGiangKhoaCNTT.Models;
@{
    CongTacTroGiangKhoaCNTTEntities model = new CongTacTroGiangKhoaCNTTEntities();
    var lstNganh = model.Nganh.OrderByDescending(o => o.id).ToList();
    var lstHocKy = model.HocKy.OrderByDescending(o => o.id).ToList();

    var currentDate = DateTime.Now;
    var currentYear = DateTime.Now.Year;

    int id_hkGanNhat = 0;
    if (lstHocKy.Count > 0)
    {
        var hkGanNhat = lstHocKy.OrderByDescending(o => o.NgayBatDau).ToList().First();
        id_hkGanNhat = hkGanNhat.id;
    }

    int id_nganhCNTT = 0;
    if (lstNganh.Count > 0)
    {
        var nganhcntt = lstNganh.FirstOrDefault(f => f.TenNganh.ToLower().Equals("công nghệ thông tin"));
        if (nganhcntt != null)
        {
            id_nganhCNTT = nganhcntt.id;
        }
    }

    var lstTkb = model.ThoiKhoaBieu.Where(w => w.ID_HocKy == id_hkGanNhat && w.ID_Nganh == id_nganhCNTT).ToList();

    int tuanMin = lstTkb.Min(m => m.TuanBD);
    int tuanMax = lstTkb.Max(m => m.TuanKT);
}

<div class="card" id="pageload">
    <!-- card header  -->
    <div class="card-header border-bottom-0 pb-0">
        <div class="row">
            <div class="mb-3 col-md-6 col-12">
                <label class="form-label">Học kỳ</label>
                <select id="" class="form-select" data-width="100%">
                    @foreach (var item in lstHocKy)
                    {

                        if (id_hkGanNhat == item.id)
                        {
                            <option selected value="@item.id">Học kỳ @item.TenHocKy</option>
                        }
                        else
                        {
                            <option value="@item.id">Học kỳ @item.TenHocKy</option>
                        }
                    }
                </select>
            </div>
            <div class="mb-3 col-md-6 col-12">
                <label class="form-label">Tuần học</label>
                <select id="" class="form-select" data-width="100%">
                    @for (int i = tuanMin; i <= tuanMax; i++)
                    {
                        <option selected value="@i">Tuần @i</option>

                    }
                </select>
            </div>
        </div>
    </div>
    <div id="filterParentLoad">
        <div class="card-header border-bottom-0 pt-0">
            <div class="row">
                <div class="mb-3 col-md-3 col-12">
                    <label class="form-label">Chú thích</label>
                    <div class="form-control">
                        <span class="badge bg-warning me-2">Thực hành</span><span class="badge bg-success">Lý thuyết</span>
                    </div>
                </div>
                <div class="mb-3 col-md-3 col-12">
                    <label class="form-label">Lọc môn học</label>
                    <select class="form-select" id="locmonhoc" placeholder="Lọc giảng viên" multiple="multiple">
                        @foreach (var item in lstTkb.GroupBy(o => o.MaMH).ToList())
                        {
                            var items = item.Select(s => new { s.HocPhan.TenHP, s.MaMH }).First();
                            <option selected value="@items.MaMH">@items.TenHP</option>
                        }
                    </select>
                </div>
                <div class="mb-3 col-md-3 col-12">
                    <label class="form-label">Lọc giảng viên</label>
                    <select class="form-select" id="locgiangvien" placeholder="Lọc giảng viên" multiple="multiple" filter="true">
                        @foreach (var item in lstTkb.GroupBy(o => o.TenCBGD).ToList())
                        {
                            var items = item.Select(s => new { s.MaCBGD, s.TenCBGD }).First();
                            <option selected value="@items.MaCBGD">@items.TenCBGD</option>
                        }
                    </select>
                </div>
                <div class="mb-3 col-md-3 col-12" style="display: flex; flex-direction: row; align-items: end">
                    <div style="width: 100%; text-align: end">
                        <a id="btnExportTkb" class="btn btn-outline-secondary">
                            <i class="bi bi-file-earmark-arrow-down me-1"></i> Export
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <!-- table  -->
        <div class="table-responsive" style="max-height: 72vh">
            <table class="table table-bordered border-secondary text-nowrap mb-0">
                <thead style="position: sticky; top: 0; z-index: 2">
                    <tr text-white">
                        <th class="bg-secondary text-white" style="position: sticky; left: 0; box-shadow: inset -1px -1px 0 #ffffff; text-align: center; padding: 5px 10px 5px 10px;">Thứ</th>
                        <th class="bg-secondary text-white" align="center" colspan="5" style="box-shadow: inset -3px -1px 0 #ffffff; text-align: center; padding: 5px 10px 5px 10px;">Thứ 2</th>
                        <th class="bg-secondary text-white" align="center" colspan="5" style="box-shadow: inset -3px -1px 0 #ffffff; text-align: center; padding: 5px 10px 5px 10px;">Thứ 3</th>
                        <th class="bg-secondary text-white" align="center" colspan="5" style="box-shadow: inset -3px -1px 0 #ffffff; text-align: center; padding: 5px 10px 5px 10px;">Thứ 4</th>
                        <th class="bg-secondary text-white" align="center" colspan="5" style="box-shadow: inset -3px -1px 0 #ffffff; text-align: center; padding: 5px 10px 5px 10px;">Thứ 5</th>
                        <th class="bg-secondary text-white" align="center" colspan="5" style="box-shadow: inset -3px -1px 0 #ffffff; text-align: center; padding: 5px 10px 5px 10px;">Thứ 6</th>
                        <th class="bg-secondary text-white" align="center" colspan="5" style="box-shadow: inset -3px -1px 0 #ffffff; text-align: center; padding: 5px 10px 5px 10px;">Thứ 7</th>
                        <th class="bg-secondary text-white" align="center" colspan="5" style="box-shadow: inset -1px -1px 0 #ffffff; text-align: center; padding: 5px 10px 5px 10px;">Chủ nhật</th>
                    </tr>
                    <tr class="bg-secondary text-white">
                        <th class="bg-secondary" style="position: sticky; left: 0; box-shadow: inset -1px -1px 0 #ffffff; text-align: center; padding: 5px 10px 5px 10px;">Tiết</th>
                        @for (int i = 0; i < 7; i++)
                        {
                            <th class="bg-secondary text-white" style="box-shadow: inset -1px 0 0 #ffffff; text-align: center; padding: 5px 10px 5px 10px;">1-3</th>
                            <th class="bg-secondary text-white" style="box-shadow: inset -1px 0 0 #ffffff; text-align: center; padding: 5px 10px 5px 10px;">4-6</th>
                            <th class="bg-secondary text-white" style="box-shadow: inset -1px 0 0 #ffffff; text-align: center; padding: 5px 10px 5px 10px;">7-9</th>
                            <th class="bg-secondary text-white" style="box-shadow: inset -1px 0 0 #ffffff; text-align: center; padding: 5px 10px 5px 10px;">10-12</th>
                            if (i == 6)
                            {
                                <th class="bg-secondary text-white" style="box-shadow: inset -1px 0 0 #ffffff; text-align: center; padding: 5px 10px 5px 10px;">13-15</th>
                            }
                            else
                            {
                                <th class="bg-secondary text-white" style="box-shadow: inset -3px 0 0 #ffffff; text-align: center; padding: 5px 10px 5px 10px;">13-15</th>
                            }
                        }
                    </tr>
                </thead>
                <tbody id="filterLoad">
                    @foreach (var item in lstTkb.GroupBy(g => g.MaMH))
                    {
                        <tr>
                            <td class="bg-secondary text-white" style="box-shadow: inset -1px -1px 0 #ffffff; padding: 10px; white-space: normal; min-width: 140px !important; max-width: 200px; word-break: break-word; position: sticky; left: 0;" valign="middle">@item.Select(s => new { s.HocPhan.TenHP }).First().TenHP</td>
                            @for (int i = 0; i < 7; i++)
                            {
                                for (int j = 0; j < 5; j++)
                                {
                                    if (j == 0) // 1-3
                                    {
                                        var lstTkbs = lstTkb.Where(w => w.HocPhan.TenHP.ToLower().Equals(item.Select(s => new { s.HocPhan.TenHP }).First().TenHP.ToLower()) && (w.TietBD == 1 || w.TietS == 1) && w.ThuS == (i + 2)).ToList();
                                        if (lstTkbs.Count > 0)
                                        {
                                            <td style="padding: 10px;">
                                                @foreach (var items in lstTkbs)
                                                {
                                                    if (items.LoaiHP.ToLower().Equals("thực hành"))
                                                    {
                                                        <p style="margin-bottom: 0.5rem;"><span data-bs-toggle="tooltip" data-bs-html="true" title="<b>@items.MaGocLHP</b><br><b>Tuần BĐ/KT:</b> @(items.TuanBD)/@(items.TuanKT)<br> <b>Phòng:</b> @(items.Phong.TenPhong)<br><b>Tiết học:</b> @(items.TietHoc)<br><b>TA:</b> Chưa phân" class="badge bg-warning" role="button">GV: @items.TenCBGD</span></p>
                                                    }
                                                    else
                                                    {
                                                        <p style="margin-bottom: 0.5rem;"><span data-bs-toggle="tooltip" data-bs-html="true" title="<b>@items.MaGocLHP</b><br><b>Tuần BĐ/KT:</b> @(items.TuanBD)/@(items.TuanKT)<br> <b>Phòng:</b> @(items.Phong.TenPhong)<br><b>Tiết học:</b> @(items.TietHoc)<br><b>TA:</b> Chưa phân" class="badge bg-success" role="button">GV: @items.TenCBGD</span></p>
                                                    }
                                                }
                                            </td>
                                        }
                                        else
                                        {
                                            <td></td>
                                        }
                                    }
                                    else if (j == 1) //4-6
                                    {
                                        var lstTkbs = lstTkb.Where(w => w.HocPhan.TenHP.ToLower().Equals(item.Select(s => new { s.HocPhan.TenHP }).First().TenHP.ToLower()) && (w.TietBD == 4 || w.TietS == 4) && w.ThuS == (i + 2)).ToList();
                                        if (lstTkbs.Count > 0)
                                        {
                                            <td style="padding: 10px;">

                                                @foreach (var items in lstTkbs)
                                                {
                                                    if (items.LoaiHP.ToLower().Equals("thực hành"))
                                                    {
                                                        <p style="margin-bottom: 0.5rem;"><span data-bs-toggle="tooltip" data-bs-html="true" title="<b>@items.MaGocLHP</b><br><b>Tuần BĐ/KT:</b> @(items.TuanBD)/@(items.TuanKT)<br> <b>Phòng:</b> @(items.Phong.TenPhong)<br><b>Tiết học:</b> @(items.TietHoc)<br><b>TA:</b> Chưa phân" class="badge bg-warning" role="button">GV: @items.TenCBGD</span></p>
                                                    }
                                                    else
                                                    {
                                                        <p style="margin-bottom: 0.5rem;"><span data-bs-toggle="tooltip" data-bs-html="true" title="<b>@items.MaGocLHP</b><br><b>Tuần BĐ/KT:</b> @(items.TuanBD)/@(items.TuanKT)<br> <b>Phòng:</b> @(items.Phong.TenPhong)<br><b>Tiết học:</b> @(items.TietHoc)<br><b>TA:</b> Chưa phân" class="badge bg-success" role="button">GV: @items.TenCBGD</span></p>
                                                    }
                                                }
                                            </td>
                                        }
                                        else
                                        {
                                            <td></td>
                                        }
                                    }
                                    else if (j == 2) //7-9
                                    {
                                        var lstTkbs = lstTkb.Where(w => w.HocPhan.TenHP.ToLower().Equals(item.Select(s => new { s.HocPhan.TenHP }).First().TenHP.ToLower()) && (w.TietBD == 7 || w.TietS == 7) && w.ThuS == (i + 2)).ToList();
                                        if (lstTkbs.Count > 0)
                                        {
                                            <td style="padding: 10px;">

                                                @foreach (var items in lstTkbs)
                                                {
                                                    if (items.LoaiHP.ToLower().Equals("thực hành"))
                                                    {
                                                        <p style="margin-bottom: 0.5rem;"><span data-bs-toggle="tooltip" data-bs-html="true" title="<b>@items.MaGocLHP</b><br><b>Tuần BĐ/KT:</b> @(items.TuanBD)/@(items.TuanKT)<br> <b>Phòng:</b> @(items.Phong.TenPhong)<br><b>Tiết học:</b> @(items.TietHoc)<br><b>TA:</b> Chưa phân" class="badge bg-warning" role="button">GV: @items.TenCBGD</span></p>
                                                    }
                                                    else
                                                    {
                                                        <p style="margin-bottom: 0.5rem;"><span data-bs-toggle="tooltip" data-bs-html="true" title="<b>@items.MaGocLHP</b><br><b>Tuần BĐ/KT:</b> @(items.TuanBD)/@(items.TuanKT)<br> <b>Phòng:</b> @(items.Phong.TenPhong)<br><b>Tiết học:</b> @(items.TietHoc)<br><b>TA:</b> Chưa phân" class="badge bg-success" role="button">GV: @items.TenCBGD</span></p>
                                                    }
                                                }
                                            </td>
                                        }
                                        else
                                        {
                                            <td></td>
                                        }
                                    }
                                    else if (j == 3) //10-12
                                    {
                                        var lstTkbs = lstTkb.Where(w => w.HocPhan.TenHP.ToLower().Equals(item.Select(s => new { s.HocPhan.TenHP }).First().TenHP.ToLower()) && (w.TietBD == 10 || w.TietS == 10) && w.ThuS == (i + 2)).ToList();
                                        if (lstTkbs.Count > 0)
                                        {
                                            <td style="padding: 10px;">

                                                @foreach (var items in lstTkbs)
                                                {
                                                    if (items.LoaiHP.ToLower().Equals("thực hành"))
                                                    {
                                                        <p style="margin-bottom: 0.5rem;"><span data-bs-toggle="tooltip" data-bs-html="true" title="<b>@items.MaGocLHP</b><br><b>Tuần BĐ/KT:</b> @(items.TuanBD)/@(items.TuanKT)<br> <b>Phòng:</b> @(items.Phong.TenPhong)<br><b>Tiết học:</b> @(items.TietHoc)<br><b>TA:</b> Chưa phân" class="badge bg-warning" role="button">GV: @items.TenCBGD</span></p>
                                                    }
                                                    else
                                                    {
                                                        <p style="margin-bottom: 0.5rem;"><span data-bs-toggle="tooltip" data-bs-html="true" title="<b>@items.MaGocLHP</b><br><b>Tuần BĐ/KT:</b> @(items.TuanBD)/@(items.TuanKT)<br> <b>Phòng:</b> @(items.Phong.TenPhong)<br><b>Tiết học:</b> @(items.TietHoc)<br><b>TA:</b> Chưa phân" class="badge bg-success" role="button">GV: @items.TenCBGD</span></p>
                                                    }
                                                }
                                            </td>
                                        }
                                        else
                                        {
                                            <td></td>
                                        }
                                    }
                                    else if (j == 4) //13-15
                                    {
                                        var lstTkbs = lstTkb.Where(w => w.HocPhan.TenHP.ToLower().Equals(item.Select(s => new { s.HocPhan.TenHP }).First().TenHP.ToLower()) && (w.TietBD == 13 || w.TietS == 13) && w.ThuS == (i + 2)).ToList();
                                        if (i == 6)
                                        {

                                            if (lstTkbs.Count > 0)
                                            {
                                                <td style="padding: 10px; box-shadow: inset -1px 0 0 var(--geeks-body-color)">

                                                    @foreach (var items in lstTkbs)
                                                    {
                                                        if (items.LoaiHP.ToLower().Equals("thực hành"))
                                                        {
                                                            <p style="margin-bottom: 0.5rem;"><span data-bs-toggle="tooltip" data-bs-html="true" title="<b>@items.MaGocLHP</b><br><b>Tuần BĐ/KT:</b> @(items.TuanBD)/@(items.TuanKT)<br> <b>Phòng:</b> @(items.Phong.TenPhong)<br><b>Tiết học:</b> @(items.TietHoc)<br><b>TA:</b> Chưa phân" class="badge bg-warning" role="button">GV: @items.TenCBGD</span></p>
                                                        }
                                                        else
                                                        {
                                                            <p style="margin-bottom: 0.5rem;"><span data-bs-toggle="tooltip" data-bs-html="true" title="<b>@items.MaGocLHP</b><br><b>Tuần BĐ/KT:</b> @(items.TuanBD)/@(items.TuanKT)<br> <b>Phòng:</b> @(items.Phong.TenPhong)<br><b>Tiết học:</b> @(items.TietHoc)<br><b>TA:</b> Chưa phân" class="badge bg-success" role="button">GV: @items.TenCBGD</span></p>
                                                        }
                                                    }
                                                </td>
                                            }
                                            else
                                            {
                                                <td style="box-shadow: inset -1px 0 0 var(--geeks-body-color) "></td>
                                            }
                                        }
                                        else
                                        {
                                            if (lstTkbs.Count > 0)
                                            {
                                                <td style="padding: 10px; box-shadow: inset -3px 0 0 var(--geeks-body-color)">

                                                    @foreach (var items in lstTkbs)
                                                    {
                                                        if (items.LoaiHP.ToLower().Equals("thực hành"))
                                                        {
                                                            <p style="margin-bottom: 0.5rem;"><span data-bs-toggle="tooltip" data-bs-html="true" title="<b>@items.MaGocLHP</b><br><b>Tuần BĐ/KT:</b> @(items.TuanBD)/@(items.TuanKT)<br> <b>Phòng:</b> @(items.Phong.TenPhong)<br><b>Tiết học:</b> @(items.TietHoc)<br><b>TA:</b> Chưa phân" class="badge bg-warning" role="button">GV: @items.TenCBGD</span></p>
                                                        }
                                                        else
                                                        {
                                                            <p style="margin-bottom: 0.5rem;"><span data-bs-toggle="tooltip" data-bs-html="true" title="<b>@items.MaGocLHP</b><br><b>Tuần BĐ/KT:</b> @(items.TuanBD)/@(items.TuanKT)<br> <b>Phòng:</b> @(items.Phong.TenPhong)<br><b>Tiết học:</b> @(items.TietHoc)<br><b>TA:</b> Chưa phân" class="badge bg-success" role="button">GV: @items.TenCBGD</span></p>
                                                        }
                                                    }
                                                </td>
                                            }
                                            else
                                            {
                                                <td style="box-shadow: inset -3px 0 0 var(--geeks-body-color) "></td>
                                            }
                                        }
                                    }
                                }
                            }
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>

</div>
<script src="~/Content/assets/libs/multiple-select/js/multiple-select.min.js"></script>
<script>
    $('#locgiangvien').multipleSelect({ filter: true });
    $('#locmonhoc').multipleSelect({ filter: true });
    var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
    var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
        return new bootstrap.Tooltip(tooltipTriggerEl)
    });
</script>
