@using QuanLyCongTacTroGiangKhoaCNTT.Models
@{
    CongTacTroGiangKhoaCNTTEntities models = new CongTacTroGiangKhoaCNTTEntities();

    var lstHk = models.HocKy.ToList();
    var lstNganh = models.Nganh.ToList();

    ViewBag.Title = "Student Affairs | Import Thời Khóa Biểu";
    Layout = Session["layout"].ToString();
}

<style>
    @@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

    .upload-files-container {
        width: 100%;
        padding: 30px 60px;
        border-radius: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    .drag-file-area {
        border: 2px dashed #7b2cbf;
        border-radius: 40px;
        margin: 10px 0 15px;
        padding: 30px 50px;
        width: 350px;
        text-align: center;
    }

        .drag-file-area .upload-icon {
            font-size: 50px;
        }

        .drag-file-area h3 {
            font-size: 26px;
            margin: 15px 0;
        }

        .drag-file-area label {
            font-size: 19px;
            display: unset !important;
        }

            .drag-file-area label .browse-files-text {
                color: #7b2cbf;
                font-weight: bolder;
                cursor: pointer;
            }

    .browse-files span {
        position: relative;
        top: -25px;
    }

    .default-file-input {
        opacity: 0;
    }

    .cannot-upload-message {
        background-color: #ffc6c4;
        font-size: 17px;
        display: flex;
        align-items: center;
        margin: 5px 0;
        padding: 5px 10px 5px 30px;
        border-radius: 5px;
        color: #BB0000;
        display: none;
    }

    @@keyframes fadeIn {
        0% {
            opacity: 0;
        }

        100% {
            opacity: 1;
        }
    }

    .cannot-upload-message span, .upload-button-icon {
        padding-right: 10px;
    }

        .cannot-upload-message span:last-child {
            padding-left: 20px;
            cursor: pointer;
        }

    .file-block {
        color: #f7fff7;
        background-color: #7b2cbf;
        transition: all 1s;
        width: 390px;
        position: relative;
        display: none;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin: 10px 0 15px;
        padding: 10px 20px;
        border-radius: 25px;
        cursor: pointer;
    }

    .file-info {
        display: flex;
        align-items: center;
        font-size: 15px;
    }

    .file-icon {
        margin-right: 10px;
    }

    .file-name {
        padding: 0 3px;
        word-break: break-word;
    }

    .file-size {
        padding: 0 3px;
        width: auto;
        white-space: nowrap;
    }

    .remove-file-icon {
        cursor: pointer;
    }

    .progress-bar {
        display: flex;
        position: absolute;
        bottom: 0;
        left: 4.5%;
        width: 0;
        height: 5px;
        border-radius: 25px;
        background-color: #4BB543;
    }

    .upload-button {
        font-family: 'Montserrat';
        background-color: #7b2cbf;
        color: #f7fff7;
        display: flex;
        align-items: center;
        font-size: 18px;
        border: none;
        border-radius: 20px;
        margin: 10px;
        padding: 7.5px 50px;
        cursor: pointer;
    }
</style>

<script src="~/ActiveItemMenu/admin/admindashboard/thoikhoabieutemp.js"></script>
<section class="container-fluid p-4">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-12">
            <div class="border-bottom pb-3 mb-3 d-flex justify-content-between align-items-center">
                <div class="mb-3 mb-lg-0">
                    <h1 class="h2 fw-bold">Import Thời Khóa Biểu</h1>
                    <!-- Breadcrumb -->
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item">
                                <a href="@Url.Action("index", "dashboard")">Dashboard</a>
                            </li>
                            <li class="breadcrumb-item active" aria-current="page">
                                Thời Khóa Biểu
                            </li>
                            <li class="breadcrumb-item active" aria-current="page">
                                Import Thời Khóa Biểu
                            </li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12 col-12">
            <!-- Card -->
            <div class="card mb-4" style="padding: 30px;">
                <div class="row">
                    <div class="col-md-6 col-12">
                        <div class="mb-3">
                            <label class="form-label" for="importhocky">
                                Học kỳ
                            </label>
                            <select class="form-select" id="importhocky">
                                <option selected value="">---- Chọn học kỳ ----</option>
                                @foreach (var item in lstHk.OrderByDescending(o => o.NgayBatDau).ToList())
                                {
                                    <option value="@item.id">Học kỳ @item.TenHocKy</option>
                                }
                            </select>
                        </div>
                    </div>
                    <div class="col-md-6 col-12">
                        <div class="mb-3">
                            <label class="form-label" for="importnganh">
                                Ngành
                            </label>
                            <select class="form-select" id="importnganh">
                                <option selected value="">---- Chọn ngành ----</option>
                                @foreach (var item in lstNganh.OrderByDescending(o => o.id).ToList())
                                {
                                    <option value="@item.id">@item.TenNganh</option>
                                }
                            </select>
                        </div>
                    </div>
                    <div class="col-12">
                        <link href="https://fonts.googleapis.com/css?family=Material+Icons|Material+Icons+Outlined" rel="stylesheet">
                        <div class="form-container form-control" style="display: flex; justify-content: center;">
                            <div class="upload-files-container">
                                <input type="file" id="file-import-tkb" accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel" class="default-file-input" />
                                <div class="drag-file-area">
                                    <span class="material-icons-outlined upload-icon"> file_upload </span>
                                    <h3 class="dynamic-message"> Kéo & thả file import </h3>
                                    <label class="label">
                                        <span>Hoặc</span>
                                        <br />
                                        <br />
                                        <span class="browse-files">
                                            <span class="browse-files-text">chọn file</span> <span>từ thiết bị</span>
                                        </span>
                                    </label>
                                </div>
                                <span class="cannot-upload-message">
                                    <span class="material-icons-outlined">error</span> Vui lòng chọn file import trước
                                    <span class="material-icons-outlined cancel-alert-button">cancel</span>
                                </span>
                                <div class="file-block">
                                    <div class="file-info">
                                        <span class="material-icons-outlined file-icon">description</span>
                                        <span class="file-name"> </span> | <span class="file-size">  </span>
                                    </div>
                                    <span class="material-icons remove-file-icon">delete</span>
                                    <div class="progress-bar"> </div>
                                </div>
                                <button type="button" class="upload-button"> Import </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="card text-center">
                <div class="card-header">
                    Tải xuống biểu mẫu
                </div>
                <div class="card-body">
                    <h5 class="card-title">Mẫu Import Thời Khóa Biểu</h5>
                    <p class="card-text">Chọn nút tải xuống bên dưới để tải biểu mẫu Import thời khóa biểu (.xlsx)</p>
                    <a id="downloadformimport" class="btn btn-primary">
                        <i class="bi bi-file-earmark-arrow-down me-1"></i>
                        Tải xuống
                    </a>
                </div>
            </div>

        </div>
    </div>
</section>
<script type="text/javascript">
    function Base64ToBytes(base64) {
        var s = window.atob(base64);
        var bytes = new Uint8Array(s.length);
        for (var i = 0; i < s.length; i++) {
            bytes[i] = s.charCodeAt(i);
        }
        return bytes;
    };

    $('body').on('click', '[id="downloadformimport"]', function () {
        var fileName = "CNTT UIS-ThoiKhoaBieu_TieuChuan_Mau.xlsx";

        $.ajax({
            type: "POST",
            url: $('#requestPath').val() + "studentaffairs/studentaffairstimetable/DownloadFile",
            data: '{fileName: "' + fileName + '"}',
            contentType: "application/json; charset=utf-8",
            dataType: "text",
            success: function (r) {
                var bytes = Base64ToBytes(r);

                var blob = new Blob([bytes], { type: "application/octetstream" });

                var isIE = false || !!document.documentMode;
                if (isIE) {
                    window.navigator.msSaveBlob(blob, fileName);
                } else {
                    var url = window.URL || window.webkitURL;
                    link = url.createObjectURL(blob);
                    var a = $("<a />");
                    a.attr("download", fileName);
                    a.attr("href", link);
                    $("body").append(a);
                    a[0].click();
                    $("body").remove(a);
                }
            }
        });
    });
    
</script>
<script src="~/Content/assets/libs/moment/moment-with-locales.min.js"></script>
<script src="~/Content/assets/libs/moment/moment.min.js"></script>
<script src="~/Content/assets/js/vendors/calendar.js"></script>
<script src="~/ActiveItemMenu/studentaffairs/studentaffairstimetable/import.js"></script>
<script src="~/Validation/studentaffairs/timetable/import.js"></script>