@model IEnumerable<QuanLyCongTacTroGiangKhoaCNTT.Models.UngTuyenTroGiang>
@{
    var ut = Model.ToList();
    int i = 0;
}
<!-- card body -->
<div class="card-body" id="filterLoad">
    <div class="row">
        <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12">
            <div class="card bg-light-warning mb-4">
                <!-- Card body -->
                <div class="card-body d-flex flex-column gap-2">
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="lh-1 d-flex flex-column gap-1">
                            <h2 class="h1 fw-bold mb-0">@(ut.Count() > 0 ? ut.GroupBy(g => g.ID_TaiKhoan).Count().ToString("D2") : "0")</h2>
                            <span>Đã Đăng Ký</span>
                        </div>
                        <div>
                            <span class="bg-light-danger icon-shape icon-xl rounded-3 text-dark-danger">
                                <i style="font-size: 24px" class="bi bi-person-fill"></i>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12">
            <div class="card bg-light-success mb-4">
                <!-- Card body -->
                <div class="card-body d-flex flex-column gap-2">
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="lh-1 d-flex flex-column gap-1">
                            <h2 class="h1 fw-bold mb-0">@(ut.Where(w => w.TrangThai == true).Count() > 0 ? ut.Where(w => w.TrangThai == true).GroupBy(g => g.ID_TaiKhoan).Count().ToString("D2") : "0")</h2>
                            <span>Được Duyệt</span>
                        </div>
                        <div>
                            <span class="bg-light-danger icon-shape icon-xl rounded-3 text-dark-danger">
                                <i style="font-size: 24px" class="bi bi-person-fill-check"></i>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12">
            <div class="card bg-light-primary mb-4">
                <!-- Card body -->
                <div class="card-body d-flex flex-column gap-2">
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="lh-1 d-flex flex-column gap-1">
                            <h2 class="h1 fw-bold mb-0">@(ut.Where(w => w.LopHocPhan.PhanCongTroGiang.FirstOrDefault(wl => wl.ID_TaiKhoan == w.ID_TaiKhoan) != null).Count() > 0 ?ut.Where(w => w.LopHocPhan.PhanCongTroGiang.FirstOrDefault(wl => wl.ID_TaiKhoan == w.ID_TaiKhoan) != null).ToList().GroupBy(g => g.ID_TaiKhoan).Count().ToString("D2") : "0")</h2>
                            <span>Đã Phân Công</span>
                        </div>
                        <div>
                            <span class="bg-light-danger icon-shape icon-xl rounded-3 text-dark-danger">
                                <i style="font-size: 24px" class="bi bi-person-fill-gear"></i>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="table-card mt-3 border-top-lg">
        <div class="card-body mt-3" id="filterLoad">
            <div class="table-card">
                <table id="dataTableBasic" class="table table-hover" style="width:100%">
                    <thead class="table-light">
                        <tr>
                            <th align="center" class="text-center bg-white" colspan="6">
                                <h4>Danh sách Trợ Giảng đã được phân công</h4>
                            </th>
                        </tr>
                        <tr>
                            <th>TT</th>
                            <th>Mã TA</th>
                            <th>Họ & Tên TA</th>
                            <th>Mã GV</th>
                            <th>Họ & Tên GV</th>
                            <th>Mã LHP</th>
                        </tr>
                    </thead>
                    <tbody>
                        @if ((ut.Where(w => w.LopHocPhan.PhanCongTroGiang.FirstOrDefault(wl => wl.ID_TaiKhoan == w.ID_TaiKhoan) != null).Count() > 0 ? ut.Where(w => w.LopHocPhan.PhanCongTroGiang.FirstOrDefault(wl => wl.ID_TaiKhoan == w.ID_TaiKhoan) != null).ToList().GroupBy(g => g.ID_TaiKhoan).Count() : 0) > 0)
                        {
                            foreach (var item in ut.Where(w => w.LopHocPhan.PhanCongTroGiang.FirstOrDefault(wl => wl.ID_TaiKhoan == w.ID_TaiKhoan) != null).ToList().GroupBy(g => g.ID_TaiKhoan).ToList())
                            {
                                i++;
                                <tr name="@item.First().ID" id="parent-data-@item.First().ID">
                                    <td valign="middle">@i</td>
                                    <td valign="middle">@item.First().MSSV</td>
                                    <td valign="middle">
                                        @item.First().HoTen
                                    </td>
                                    <td valign="middle">
                                        @item.First().LopHocPhan.MaCBGD
                                    </td>
                                    <td valign="middle">
                                        @item.First().LopHocPhan.TenCBGD
                                    </td>
                                    <td valign="middle">
                                        Mã LHP: @item.First().LopHocPhan.MaLHP
                                    </td>
                                </tr>
                                <tr hidden name="@item.First().ID" id="child-data-@item.First().ID">
                                    <td hidden>@(i+ 0.5)</td>
                                    <td colspan="6" class="p-0">
                                        <table d="none-datatable" class="ms-5 table table-sm table-sm m-0" style="width:100%">
                                            <thead class="table-light">
                                                <tr>
                                                    <th>Tên LHP</th>
                                                    <th>TC</th>
                                                    <th>TSMH</th>
                                                    <th>Giờ QĐ</th>
                                                    <th>Số SV</th>
                                                    <th>Lý do đề xuất</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td valign="middle">@item.First().LopHocPhan.TenHP</td>
                                                    <td valign="middle">@item.First().LopHocPhan.ThoiKhoaBieu.First().SoTC</td>
                                                    <td valign="middle">@item.First().LopHocPhan.ThoiKhoaBieu.First().TSMH</td>
                                                    <td valign="middle">
                                                        @item.First().LopHocPhan.PhanCongTroGiang.First().SoGioQuyDoi
                                                    </td>
                                                    <td valign="middle">
                                                        @item.First().LopHocPhan.DanhSachSinhVien.Count
                                                    </td>
                                                    <td valign="middle">
                                                        @item.First().LopHocPhan.DeXuatTroGiang.First().LyDoDeXuat
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </td>
                                    <td hidden></td>
                                    <td hidden></td>
                                    <td hidden></td>
                                    <td hidden></td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <script>
        $('#dataTableBasic').DataTable();
    </script>
</div>
