@model IEnumerable<QuanLyCongTacTroGiangKhoaCNTT.Models.UngTuyenTroGiang>
@using QuanLyCongTacTroGiangKhoaCNTT.Models
@using System.Configuration;

@{
    var models = new CongTacTroGiangKhoaCNTTEntities();
    var taikhoan = Session["TaiKhoan"] as TaiKhoan;
    int roleId = Int32.Parse(Session["user-role-id"].ToString());

    string userTennganh = taikhoan.Nganh == null ? "công nghệ thông tin" : taikhoan.Nganh.TenNganh.ToLower().ToLower();
    var userKhoa = models.Khoa.FirstOrDefault(f => f.Nganh.Where(w => w.TenNganh.Equals(userTennganh)).Count() > 0);
    var userNganh = userKhoa.Nganh.OrderByDescending(o => o.ID).ToList();

    var lstNganh = models.Nganh.ToList();
    var lstKhoa = models.Khoa.ToList();

    ViewBag.Title = "Thống kê Thù Lao";
    Layout = Session["layout"].ToString();

    bool checkUpdate = Convert.ToBoolean(Session["user-update-info"].ToString());
    var lstHk = models.HocKy.OrderByDescending(o => o.ID).ToList();
    int id_hkGanNhat = 0;
    if (lstHk.Count > 0)
    {
        id_hkGanNhat = lstHk.First().ID;
    }

    var ut = Model.Where(w => w.LopHocPhan.ID_HocKy == id_hkGanNhat).ToList();

    if (roleId == 3)
    {
        ut = ut.Where(w => w.TaiKhoan.Nganh.TenNganh.ToLower().Equals(userTennganh)).ToList();
    }
    int i = 0;

    var tongSoGioQuyDoi = 0.0;
    foreach (var items in ut.Where(w => w.LopHocPhan.PhanCongTroGiang.FirstOrDefault(wl => wl.ID_TaiKhoan == w.ID_TaiKhoan) != null).ToList())
    {
        tongSoGioQuyDoi += items.LopHocPhan.CongViec.Sum(s => s.SoGioQuyDoi);
    }

    var tongSoGioThucTe = 0.0;
    foreach (var items in ut.Where(w => w.LopHocPhan.PhanCongTroGiang.FirstOrDefault(wl => wl.ID_TaiKhoan == w.ID_TaiKhoan) != null).ToList())
    {
        tongSoGioThucTe += items.LopHocPhan.PhanCongTroGiang.First().SoGioThucTe;
    }

    string thulao = ConfigurationManager.AppSettings["RemunerationPrice"];
    string giotoida = ConfigurationManager.AppSettings["RemunerationMaxHouse"];

    var tongThuLao = 0.0;
    foreach (var items in ut.Where(w => w.LopHocPhan.PhanCongTroGiang.FirstOrDefault(wl => wl.ID_TaiKhoan == w.ID_TaiKhoan) != null).ToList())
    {
        tongThuLao += items.LopHocPhan.PhanCongTroGiang.First().SoGioThucTe * float.Parse(thulao);
    }
}

<script src="~/ActiveItemMenu/Statisticals/thulao.js"></script>


<section class="container-fluid p-4 ">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-12">
            <!-- page header -->
            <div class="border-bottom pb-3 mb-3 d-lg-flex justify-content-between align-items-center">
                <div class="mb-3 mb-lg-0">
                    <h1 class="mb-0 h2 fw-bold">Bảng Thống Kê Trợ Giảng</h1>
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item">
                                <a href="@Url.Action("index", "dashboard")">Trang chủ</a>
                            </li>
                            <li class="breadcrumb-item">
                                Thống kê
                            </li>
                            <li class="breadcrumb-item" aria-current="page">
                                Thù lao
                            </li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12 col-12 mb-4">
            <!-- card -->
            <div class="card h-100">
                <div class="card-header">
                    <div class="row">
                        <div class="mb-3 col-md-3">
                            <label class="form-label">Học kỳ</label>
                            <select id="hocky" class="form-select text-dark me-3 w-100">
                                @foreach (var item in lstHk)
                                {
                                    if (item.ID == id_hkGanNhat)
                                    {
                                        <option name="@item.TenHocKy" selected value="@item.ID">@item.TenHocKy</option>
                                        continue;
                                    }
                                    <option name="@item.TenHocKy" value="@item.ID">@item.TenHocKy</option>
                                }
                            </select>
                        </div>
                        @if (roleId == 3)
                        {
                            <div class="mb-3 col-md-3">
                                <label class="form-label">Ngành</label>
                                <select id="nganh" class="form-select text-dark me-3 w-100" data-width="100%">
                                    @foreach (var item in userKhoa.Nganh.ToList())
                                    {
                                        if (item.TenNganh.ToLower().Equals(userTennganh))
                                        {
                                            <option name="@item.TenNganh" selected value="@item.ID">@item.TenNganh</option>
                                        }
                                        else
                                        {
                                            <option name="@item.TenNganh" value="@item.ID">@item.TenNganh</option>
                                        }
                                    }
                                </select>
                            </div>
                            <div class="mb-3 col-md-6">
                                <label class="form-label"> </label>
                                <div class="w-100 text-end mt-2">
                                    <a id="exportfile" name="ta03" class="btn btn-outline-secondary">
                                        <i class="bi bi-file-earmark-arrow-down me-1"></i> Xuất
                                    </a>
                                </div>
                            </div>
                        }
                        else
                        {
                            <div class="mb-3 col-md-3">
                                <label class="form-label">Khoa</label>
                                <select id="khoa" class="form-select text-dark me-3 w-100" data-width="100%">
                                    @foreach (var item in lstKhoa.Where(w => w.Nganh.Count > 0).ToList())
                                    {
                                        if (userKhoa.TenKhoa.Equals(item.TenKhoa))
                                        {
                                            <option name="@item.TenKhoa" selected value="@item.ID">@item.TenKhoa</option>
                                        }
                                        else
                                        {
                                            <option name="@item.TenKhoa" value="@item.ID">@item.TenKhoa</option>
                                        }
                                    }
                                </select>
                            </div>
                            <div class="mb-3 col-md-3">
                                <label class="form-label">Ngành</label>
                                <select id="nganh" class="form-select text-dark me-3 w-100" data-width="100%">
                                    @foreach (var items in lstKhoa.Where(w => w.Nganh.Count > 0).ToList())
                                    {
                                        foreach (var item in items.Nganh.ToList())
                                        {
                                            if (item.TenNganh.ToLower().Equals(userTennganh))
                                            {
                                                <option cuaKhoa="@item.ID_Khoa" name="@item.TenNganh" selected value="@item.ID">@item.TenNganh</option>
                                            }
                                            else if (userTennganh.Equals(item.Khoa.TenKhoa.ToLower().ToLower()))
                                            {
                                                <option cuaKhoa="@item.ID_Khoa" name="@item.TenNganh" value="@item.ID">@item.TenNganh</option>
                                            }
                                            else
                                            {
                                                <option hidden cuaKhoa="@item.ID_Khoa" name="@item.TenNganh" value="@item.ID">@item.TenNganh</option>
                                            }
                                        }
                                    }
                                </select>
                            </div>
                            <div class="mb-3 col-md-3">
                                <label class="form-label"> </label>
                                <div class="w-100 text-end mt-2">
                                    <a id="exportfile" name="ta03" class="btn btn-outline-secondary">
                                        <i class="bi bi-file-earmark-arrow-down me-1"></i> Xuất
                                    </a>
                                </div>
                            </div>
                        }
                    </div>
                </div>
                <!-- card body -->
                <div class="card-body" id="filterLoad">
                    <div class="row">
                        <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12">
                            <div class="card bg-light-primary mb-4">
                                <!-- Card body -->
                                <div class="card-body d-flex flex-column gap-2">
                                    <div class="d-flex justify-content-between align-items-center">
                                        <div class="lh-1 d-flex flex-column gap-1">
                                            <h2 class="h1 fw-bold mb-0">@(ut.Where(w => w.LopHocPhan.PhanCongTroGiang.FirstOrDefault(wl => wl.ID_TaiKhoan == w.ID_TaiKhoan) != null).Count() > 0 ?ut.Where(w => w.LopHocPhan.PhanCongTroGiang.FirstOrDefault(wl => wl.ID_TaiKhoan == w.ID_TaiKhoan) != null).ToList().GroupBy(g => g.ID_TaiKhoan).Count().ToString("D2") : "0")</h2>
                                            <span>Đã Phân Công</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12">
                            <div class="card bg-light-warning mb-4">
                                <!-- Card body -->
                                <div class="card-body d-flex flex-column gap-2">
                                    <div class="d-flex justify-content-between align-items-center">
                                        <div class="lh-1 d-flex flex-column gap-1">
                                            <h2 class="h1 fw-bold mb-0">@(tongSoGioQuyDoi == 0 ? "0" : tongSoGioQuyDoi.ToString())</h2>
                                            <span>Tổng Số Giờ Quy Đổi</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12">
                            <div class="card bg-light-success mb-4">
                                <!-- Card body -->
                                <div class="card-body d-flex flex-column gap-2">
                                    <div class="d-flex justify-content-between align-items-center">
                                        <div class="lh-1 d-flex flex-column gap-1">
                                            <h2 class="h1 fw-bold mb-0">@(tongSoGioThucTe == 0 ? "0" : tongSoGioThucTe.ToString())</h2>
                                            <span>Tổng Số Giờ Thực Tế</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12">
                            <div class="card bg-light-danger mb-4">
                                <!-- Card body -->
                                <div class="card-body d-flex flex-column gap-2">
                                    <div class="d-flex justify-content-between align-items-center">
                                        <div class="lh-1 d-flex flex-column gap-1">
                                            <h2 class="h1 fw-bold mb-0">@(tongThuLao == 0 ? "0" : tongThuLao.ToString("0,0"))đ</h2>
                                            <span>Tổng Thù Lao</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="table-card mt-3 border-top-lg">
                        <div class="card-body mt-3" id="filterLoad">
                            <div class="table-card">
                                <table id="dataTableBasics" class="table table-hover" style="width:100%">
                                    <thead id="thread-thongke" class="table-light">
                                        <tr>
                                            <th align="center" class="text-center bg-white" colspan="8">
                                                <h4>Danh sách Trợ Giảng đã được phân công và Thù lao Công việc</h4>
                                            </th>
                                        </tr>
                                        <tr>
                                            <th>TT</th>
                                            <th class="p-0 m-0"></th>
                                            <th>Mã TA</th>
                                            <th>Họ & Tên TA</th>
                                            <th>Số LHP</th>
                                            <th>Tổng giờ kế hoạch</th>
                                            <th>Tổng giờ thực tế</th>
                                            <th>Tổng thù lao</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @if ((ut.Where(w => w.LopHocPhan.PhanCongTroGiang.FirstOrDefault(wl => wl.ID_TaiKhoan == w.ID_TaiKhoan) != null).Count() > 0 ? ut.Where(w => w.LopHocPhan.PhanCongTroGiang.FirstOrDefault(wl => wl.ID_TaiKhoan == w.ID_TaiKhoan) != null).Count() : 0) > 0)
                                        {
                                            var pctg = models.PhanCongTroGiang.Where(w => w.LopHocPhan.ID_HocKy == id_hkGanNhat && w.LopHocPhan.Nganh.TenNganh.ToLower().Equals(userTennganh)).ToList();
                                            foreach (var item in ut.Where(w => w.LopHocPhan.PhanCongTroGiang.FirstOrDefault(wl => wl.ID_TaiKhoan == w.ID_TaiKhoan) != null).ToList().GroupBy(g => g.ID_TaiKhoan).ToList())
                                            {
                                                var soLopHocPhan = pctg.Where(w => w.LopHocPhan.PhanCongTroGiang.Where(wp => wp.ID_TaiKhoan == item.First().ID_TaiKhoan).Count() > 0);

                                                var tonggioquydoi = 0.0;
                                                foreach (var quydoi in soLopHocPhan) { tonggioquydoi += quydoi.LopHocPhan.CongViec.Sum(s => s.SoGioQuyDoi); }

                                                var tonggiothucte = 0.0;
                                                foreach (var thucte in soLopHocPhan) { tonggiothucte += thucte.LopHocPhan.PhanCongTroGiang.First().SoGioThucTe; }

                                                i++;
                                                <tr name="@item.First().ID">
                                                    <td valign="middle">
                                                        @i
                                                    </td>
                                                    <td class="ps-0 pe-0">
                                                        <i name="@item.First().ID" role="button" style="font-size: 21px" class="bi bi-plus-circle-fill text-success btn-open-child"></i>
                                                    </td>
                                                    <td valign="middle">@item.First().MSSV</td>
                                                    <td valign="middle">
                                                        @item.First().HoTen
                                                    </td>
                                                    <td valign="middle">
                                                        @(soLopHocPhan.Count() == 0 ? "0" : soLopHocPhan.Count().ToString("D2"))
                                                    </td>
                                                    <td valign="middle">
                                                        @(tonggioquydoi == 0 ? 0 : tonggioquydoi) giờ
                                                    </td>
                                                    <td valign="middle">
                                                        @(tonggiothucte == 0 ? 0 : tonggiothucte) giờ
                                                    </td>
                                                    <td valign="middle">
                                                        @((Convert.ToDecimal(tonggiothucte) * Convert.ToDecimal(thulao)).ToString("0,0").Equals("00") ? "0" : (Convert.ToDecimal(tonggiothucte) * Convert.ToDecimal(thulao)).ToString("0,0"))đ

                                                        <div hidden name="@item.First().ID" id="child-data-@item.First().ID">
                                                            <table d="none-datatable" class="table table-sm table-sm m-0" style="width:100%">
                                                                <thead class="table-light">
                                                                    <tr>
                                                                        <th>Tên LHP</th>
                                                                        <th>Mã LHP</th>
                                                                        <th>Tổng giờ HP</th>
                                                                        <th>Giờ kế hoạch</th>
                                                                        <th>Giờ thực tế</th>
                                                                        <th>Đơn giá</th>
                                                                        <th>Thành tiền</th>
                                                                    </tr>
                                                                </thead>
                                                                <tbody>
                                                                    @foreach (var lhp in soLopHocPhan.ToList())
                                                                    {
                                                                        var thulaos = Convert.ToDecimal(thulao);
                                                                        var giothucte = Convert.ToDecimal(lhp.LopHocPhan.PhanCongTroGiang.First().SoGioThucTe);
                                                                        <tr>
                                                                            <td valign="middle">@lhp.LopHocPhan.TenHP</td>
                                                                            <td valign="middle">@lhp.LopHocPhan.MaLHP</td>
                                                                            <td valign="middle">@lhp.LopHocPhan.ThoiKhoaBieu.First().TSMH giờ</td>
                                                                            <td valign="middle">@lhp.LopHocPhan.CongViec.Sum(s => s.SoGioQuyDoi) giờ</td>
                                                                            <td valign="middle">@lhp.LopHocPhan.PhanCongTroGiang.First().SoGioThucTe giờ</td>
                                                                            <td valign="middle">@(Convert.ToDecimal(thulao).ToString("0,0").Equals("00") ? "0" : Convert.ToDecimal(thulao).ToString("0,0"))đ</td>
                                                                            <td valign="middle">@((giothucte * thulaos).ToString("0,0").Equals("00") ? "0" : (giothucte * thulaos).ToString("0,0"))đ</td>
                                                                        </tr>
                                                                    }

                                                                </tbody>
                                                            </table>
                                                        </div>
                                                    </td>
                                                </tr>
                                            }
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>
</section>

<section style="display: none" id="table-export-data">
</section>
<script>
    $(document).ready(function () {
        $('#khoa').on('change', function () {
            var valu = $('#khoa :selected').val();
            if (valu.length < 1) {
                $('#nganh > option').each(function () {
                    if ($(this).val() == "opNull") {
                        $(this).prop('hidden', true);
                    }
                    else {
                        $(this).prop('hidden', false);
                    }
                });

                $('#nganh').val("").change();
            }
            else {
                $('#nganh > option').each(function () {
                    var opt = $(this);
                    if (opt.attr('cuaKhoa') == valu) {
                        $(this).prop('hidden', false);
                    }
                    else {
                        $(this).prop('hidden', true);
                    }
                });

                var countOp = 0;
                $('#nganh > option').each(function () {
                    var opt = $(this);
                    if (opt.prop('hidden') == false) {
                        countOp++;
                    }
                });

                if (countOp == 0) {
                    $('#nganh').val("opNull").change();
                    $('#nganh > [id="opNganhNull"]').prop('hidden', false);
                }
                else {

                    $('#nganh > option').each(function () {
                        var opt = $(this);
                        if (opt.prop('hidden') == false) {
                            $('#nganh').val(opt.val()).change();
                            return false;
                        }
                    });
                }
            }
        });

        function format(d, id) {
            return (
                $('body').find('[id="' + id + '"]').html()
            );
        }

        let table = $("#dataTableBasics").DataTable();
        table.on('click', '.btn-open-child', function (e) {
            //table.rows().every(function () {
            //    var row = this;
            //    if (row.child.isShown()) {
            //        row.child.hide();
            //        $(this.node()).removeClass('shown');
            //        $(".close-child-rows").addClass("disable-button");
            //    }
            //});
            var id = 'child-data-' + $(this).attr('name');
            if (id.indexOf('undefined') == -1) {
                let tr = e.target.closest('tr');
                let row = table.row(tr);

                if (row.child.isShown()) {
                    row.child.hide();
                    $(this).replaceWith(`<i name="` + $(this).attr('name') + `" role="button" style="font-size: 21px" class="bi bi-plus-circle-fill text-success btn-open-child"></i>`)
                }
                else {
                    row.child(format(row.data(), id)).show();
                    $(this).replaceWith(`<i name="` + $(this).attr('name') + `" role="button" style="font-size: 21px" class="bi bi-dash-circle-fill text-danger btn-open-child"></i>`)
                }
            }
        });
    });
</script>

<script src="~/Validation/department/statisticals/thulao/filter.js"></script>
<script src="~/Content/assets/libs/XLSX-Full/xlsx.full.min.js"></script>
<script src="~/Validation/department/statisticals/exportfile.js"></script>