@model IEnumerable<QuanLyCongTacTroGiangKhoaCNTT.Models.UngTuyenTroGiang>
@using QuanLyCongTacTroGiangKhoaCNTT.Models
@{
    var models = new CongTacTroGiangKhoaCNTTEntities();
    var taikhoan = Session["TaiKhoan"] as TaiKhoan;
    int roleId = Int32.Parse(Session["user-role-id"].ToString());

    string userTennganh = taikhoan.Nganh == null ? "công nghệ thông tin" : taikhoan.Nganh.TenNganh.ToLower().ToLower();
    var userKhoa = models.Khoa.FirstOrDefault(f => f.Nganh.Where(w => w.TenNganh.Equals(userTennganh)).Count() > 0);
    var userNganh = userKhoa.Nganh.OrderByDescending(o => o.ID).ToList();

    var lstNganh = models.Nganh.ToList();
    var lstKhoa = models.Khoa.ToList();

    ViewBag.Title = "Thống kê";
    Layout = Session["layout"].ToString();

    bool checkUpdate = Convert.ToBoolean(Session["user-update-info"].ToString());
    var lstHk = models.HocKy.OrderByDescending(o => o.ID).ToList();
    int id_hkGanNhat = 0;
    if (lstHk.Count > 0)
    {
        id_hkGanNhat = lstHk.First().ID;
    }

    var ut = Model.Where(w => w.LopHocPhan.ID_HocKy == id_hkGanNhat).ToList();

    if (roleId == 3)
    {
        ut = ut.Where(w => w.TaiKhoan.Nganh.TenNganh.ToLower().Equals(userTennganh)).ToList();
    }
    int i = 0;
}

<script src="~/ActiveItemMenu/Statisticals/trogiang.js"></script>


<section class="container-fluid p-4 ">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-12">
            <!-- page header -->
            <div class="border-bottom pb-3 mb-3 d-lg-flex justify-content-between align-items-center">
                <div class="mb-3 mb-lg-0">
                    <h1 class="mb-0 h2 fw-bold">Bảng Thống Kê Trợ Giảng</h1>
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item">
                                <a href="@Url.Action("index", "dashboard")">Trang chủ</a>
                            </li>
                            <li class="breadcrumb-item" aria-current="page">
                            </li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12 col-12 mb-4">
            <!-- card -->
            <div class="card h-100">
                <div class="card-header">
                    <div class="row">
                        <div class="mb-3 col-md-3">
                            <label class="form-label">Học kỳ</label>
                            <select id="hocky" class="form-select text-dark me-3 w-100">
                                @foreach (var item in lstHk)
                                {
                                    if (item.ID == id_hkGanNhat)
                                    {
                                        <option name="@item.TenHocKy" selected value="@item.ID">@item.TenHocKy</option>
                                        continue;
                                    }
                                    <option name="@item.TenHocKy" value="@item.ID">@item.TenHocKy</option>
                                }
                            </select>
                        </div>
                        @if (roleId == 3)
                        {
                            <div class="mb-3 col-md-3">
                                <label class="form-label">Ngành</label>
                                <select id="nganh" class="form-select text-dark me-3 w-100" data-width="100%">
                                    @foreach (var item in userKhoa.Nganh.ToList())
                                    {
                                        if (item.TenNganh.ToLower().Equals(userTennganh))
                                        {
                                            <option name="@item.TenNganh" selected value="@item.ID">@item.TenNganh</option>
                                        }
                                        else
                                        {
                                            <option name="@item.TenNganh" value="@item.ID">@item.TenNganh</option>
                                        }
                                    }
                                </select>
                            </div>
                            <div class="mb-3 col-md-6">
                                <label class="form-label"> </label>
                                <div class="w-100 text-end mt-2">
                                    <a id="exportfile" name="ta02" class="btn btn-outline-secondary">
                                        <i class="bi bi-file-earmark-arrow-down me-1"></i> Export
                                    </a>
                                </div>
                            </div>
                        }
                        else
                        {
                            <div class="mb-3 col-md-3">
                                <label class="form-label">Khoa</label>
                                <select id="khoa" class="form-select text-dark me-3 w-100" data-width="100%">
                                    @foreach (var item in lstKhoa.Where(w => w.Nganh.Count > 0).ToList())
                                    {
                                        if (userKhoa.TenKhoa.Equals(item.TenKhoa))
                                        {
                                            <option name="@item.TenKhoa" selected value="@item.ID">@item.TenKhoa</option>
                                        }
                                        else
                                        {
                                            <option name="@item.TenKhoa" value="@item.ID">@item.TenKhoa</option>
                                        }
                                    }
                                </select>
                            </div>
                            <div class="mb-3 col-md-3">
                                <label class="form-label">Ngành</label>
                                <select id="nganh" class="form-select text-dark me-3 w-100" data-width="100%">
                                    @foreach (var items in lstKhoa.Where(w => w.Nganh.Count > 0).ToList())
                                    {
                                        foreach (var item in items.Nganh.ToList())
                                        {
                                            if (item.TenNganh.ToLower().Equals(userTennganh))
                                            {
                                                <option cuaKhoa="@item.ID_Khoa" name="@item.TenNganh" selected value="@item.ID">@item.TenNganh</option>
                                            }
                                            else if (userTennganh.Equals(item.Khoa.TenKhoa.ToLower().ToLower()))
                                            {
                                                <option cuaKhoa="@item.ID_Khoa" name="@item.TenNganh" value="@item.ID">@item.TenNganh</option>
                                            }
                                            else
                                            {
                                                <option hidden cuaKhoa="@item.ID_Khoa" name="@item.TenNganh" value="@item.ID">@item.TenNganh</option>
                                            }
                                        }
                                    }
                                </select>
                            </div>
                            <div class="mb-3 col-md-3">
                                <label class="form-label"> </label>
                                <div class="w-100 text-end mt-2">
                                    <a id="exportfile" name="ta02" class="btn btn-outline-secondary">
                                        <i class="bi bi-file-earmark-arrow-down me-1"></i> Export
                                    </a>
                                </div>
                            </div>
                        }
                    </div>
                </div>
                <!-- card body -->
                <div class="card-body" id="filterLoad">
                    <div class="row">
                        <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12">
                            <div class="card bg-light-warning mb-4">
                                <!-- Card body -->
                                <div class="card-body d-flex flex-column gap-2">
                                    <div class="d-flex justify-content-between align-items-center">
                                        <div class="lh-1 d-flex flex-column gap-1">
                                            <h2 class="h1 fw-bold mb-0">@(ut.Count() > 0 ? ut.GroupBy(g => g.ID_TaiKhoan).Count().ToString("D2") : "0")</h2>
                                            <span>Đã Đăng Ký</span>
                                        </div>
                                        <div>
                                            <span class="bg-light-danger icon-shape icon-xl rounded-3 text-dark-danger">
                                                <i style="font-size: 24px" class="bi bi-person-fill"></i>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12">
                            <div class="card bg-light-success mb-4">
                                <!-- Card body -->
                                <div class="card-body d-flex flex-column gap-2">
                                    <div class="d-flex justify-content-between align-items-center">
                                        <div class="lh-1 d-flex flex-column gap-1">
                                            <h2 class="h1 fw-bold mb-0">@(ut.Where(w => w.TrangThai == true).Count() > 0 ? ut.Where(w => w.TrangThai == true).GroupBy(g => g.ID_TaiKhoan).Count().ToString("D2") : "0")</h2>
                                            <span>Được Duyệt</span>
                                        </div>
                                        <div>
                                            <span class="bg-light-danger icon-shape icon-xl rounded-3 text-dark-danger">
                                                <i style="font-size: 24px" class="bi bi-person-fill-check"></i>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12">
                            <div class="card bg-light-primary mb-4">
                                <!-- Card body -->
                                <div class="card-body d-flex flex-column gap-2">
                                    <div class="d-flex justify-content-between align-items-center">
                                        <div class="lh-1 d-flex flex-column gap-1">
                                            <h2 class="h1 fw-bold mb-0">@(ut.Where(w => w.LopHocPhan.PhanCongTroGiang.FirstOrDefault(wl => wl.ID_TaiKhoan == w.ID_TaiKhoan) != null).Count() > 0 ?ut.Where(w => w.LopHocPhan.PhanCongTroGiang.FirstOrDefault(wl => wl.ID_TaiKhoan == w.ID_TaiKhoan) != null).ToList().GroupBy(g => g.ID_TaiKhoan).Count().ToString("D2") : "0")</h2>
                                            <span>Đã Phân Công</span>
                                        </div>
                                        <div>
                                            <span class="bg-light-danger icon-shape icon-xl rounded-3 text-dark-danger">
                                                <i style="font-size: 24px" class="bi bi-person-fill-gear"></i>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="table-card mt-3 border-top-lg">
                        <div class="card-body mt-3" id="filterLoad">
                            <div class="table-card">
                                <table id="dataTableBasics" class="table table-hover" style="width:100%">
                                    <thead id="thread-thongke" class="table-light">
                                        <tr>
                                            <th align="center" class="text-center bg-white" colspan="7">
                                                <h4>Danh sách Trợ Giảng đã được phân công</h4>
                                            </th>
                                        </tr>
                                        <tr>
                                            <th>TT</th>
                                            <th class="p-0 m-0"></th>
                                            <th>Mã TA</th>
                                            <th>Họ & Tên TA</th>
                                            <th>Mã GV</th>
                                            <th>Họ & Tên GV</th>
                                            <th>Mã LHP</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @if ((ut.Where(w => w.LopHocPhan.PhanCongTroGiang.FirstOrDefault(wl => wl.ID_TaiKhoan == w.ID_TaiKhoan) != null).Count() > 0 ? ut.Where(w => w.LopHocPhan.PhanCongTroGiang.FirstOrDefault(wl => wl.ID_TaiKhoan == w.ID_TaiKhoan) != null).ToList().GroupBy(g => g.ID_TaiKhoan).Count() : 0) > 0)
                                        {
                                            foreach (var item in ut.Where(w => w.LopHocPhan.PhanCongTroGiang.FirstOrDefault(wl => wl.ID_TaiKhoan == w.ID_TaiKhoan) != null).ToList())
                                            {
                                                i++;
                                                <tr name="@item.ID">
                                                    <td valign="middle">
                                                        @i
                                                </td>
                                                <td class="ps-0 pe-0">
                                                    <i name="@item.ID" role="button" style="font-size: 21px" class="bi bi-plus-circle-fill text-success btn-open-child"></i>
                                                </td>
                                                <td valign="middle">@item.MSSV</td>
                                                <td valign="middle">
                                                    @item.HoTen
                                                </td>
                                                <td valign="middle">
                                                    @item.LopHocPhan.MaCBGD
                                                </td>
                                                <td valign="middle">
                                                    @item.LopHocPhan.TenCBGD
                                                </td>
                                                <td valign="middle">
                                                    @item.LopHocPhan.MaLHP
                                                    <div hidden name="@item.ID" id="child-data-@item.ID">
                                                        <table d="none-datatable" class="table table-sm table-sm m-0" style="width:100%">
                                                            <thead class="table-light">
                                                                <tr>
                                                                    <th>Tên LHP</th>
                                                                    <th>TC</th>
                                                                    <th>Tổng số giờ HP</th>
                                                                    <th>Số giờ TA</th>
                                                                    <th>Số SV</th>
                                                                    <th>Lý do đề xuất</th>
                                                                </tr>
                                                            </thead>
                                                            <tbody>
                                                                <tr>
                                                                    <td valign="middle">@item.LopHocPhan.TenHP</td>
                                                                    <td valign="middle">@item.LopHocPhan.ThoiKhoaBieu.First().SoTC</td>
                                                                    <td valign="middle">@item.LopHocPhan.ThoiKhoaBieu.First().TSMH</td>
                                                                    <td valign="middle">
                                                                        @item.LopHocPhan.PhanCongTroGiang.First().SoGioQuyDoi
                                                                    </td>
                                                                    <td valign="middle">
                                                                        @item.LopHocPhan.DanhSachSinhVien.Count
                                                                    </td>
                                                                    <td valign="middle">
                                                                        @item.LopHocPhan.DeXuatTroGiang.First().LyDoDeXuat
                                                                    </td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </td>
                                            </tr>
                                        }
                                    }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>
</section>
<section style="display: none" id="table-export-data">
</section>
<script>
    $(document).ready(function () {
        $('#khoa').on('change', function () {
            var valu = $('#khoa :selected').val();
            if (valu.length < 1) {
                $('#nganh > option').each(function () {
                    if ($(this).val() == "opNull") {
                        $(this).prop('hidden', true);
                    }
                    else {
                        $(this).prop('hidden', false);
                    }
                });

                $('#nganh').val("").change();
            }
            else {
                $('#nganh > option').each(function () {
                    var opt = $(this);
                    if (opt.attr('cuaKhoa') == valu) {
                        $(this).prop('hidden', false);
                    }
                    else {
                        $(this).prop('hidden', true);
                    }
                });

                var countOp = 0;
                $('#nganh > option').each(function () {
                    var opt = $(this);
                    if (opt.prop('hidden') == false) {
                        countOp++;
                    }
                });

                if (countOp == 0) {
                    $('#nganh').val("opNull").change();
                    $('#nganh > [id="opNganhNull"]').prop('hidden', false);
                }
                else {

                    $('#nganh > option').each(function () {
                        var opt = $(this);
                        if (opt.prop('hidden') == false) {
                            $('#nganh').val(opt.val()).change();
                            return false;
                        }
                    });
                }
            }
        });

        function format(d, id) {
            return (
                $('body').find('[id="' + id + '"]').html()
            );
        }

        let table = $("#dataTableBasics").DataTable();
        table.on('click', '.btn-open-child', function (e) {
            //table.rows().every(function () {
            //    var row = this;
            //    if (row.child.isShown()) {
            //        row.child.hide();
            //        $(this.node()).removeClass('shown');
            //        $(".close-child-rows").addClass("disable-button");
            //    }
            //});
            var id = 'child-data-' + $(this).attr('name');
            if (id.indexOf('undefined') == -1) {
                let tr = e.target.closest('tr');
                let row = table.row(tr);

                if (row.child.isShown()) {
                    row.child.hide();
                    $(this).replaceWith(`<i name="` + $(this).attr('name') + `" role="button" style="font-size: 21px" class="bi bi-plus-circle-fill text-success btn-open-child"></i>`)
                }
                else {
                    row.child(format(row.data(), id)).show();
                    $(this).replaceWith(`<i name="` + $(this).attr('name') + `" role="button" style="font-size: 21px" class="bi bi-dash-circle-fill text-danger btn-open-child"></i>`)
                }
            }
        });
    });
</script>

<script src="~/Validation/department/statisticals/trogiang/filter.js"></script>
<script src="~/Validation/department/statisticals/exportfile.js"></script>