@model IEnumerable<QuanLyCongTacTroGiangKhoaCNTT.Models.DanhSachSinhVien>
@using QuanLyCongTacTroGiangKhoaCNTT.Models
@{
    var models = new CongTacTroGiangKhoaCNTTEntities();
    var lhp = Session["id-lhp-classlist"] as LopHocPhan;
    var dssv = Model.ToList();

    var dbLichHoc = lhp.LichHoc.ToList();
    int i = 0;

    var currentDate = Convert.ToDateTime(DateTime.Now.ToString("yyyy-MM-dd"));
    int currentLichHoc = Int32.Parse(Session["id-current-lichhoc"].ToString());
    if (currentLichHoc == 0)
    {
        currentLichHoc = dbLichHoc.OrderByDescending(o => o.NgayHoc).ToList().First().ID;
    }
}

<div class="modal-body overflow-x-hidden" id="loadcontentdiemdanhsv">
    <div class="row mb-4">
        <div class="col-12">
            <div class="row">
                <div class="col-6">
                    <div class="mb-3">
                        <select id="tuanhoc" class="form-select w-auto text-dark">
                            @foreach (var item in dbLichHoc.OrderBy(o => o.NgayHoc).ToList())
                            {
                                if (currentLichHoc == item.ID)
                                {
                                    <option selected value="@item.ID">@item.NgayHoc.ToString("dd/MM/yyyy")</option>
                                    continue;
                                }
                                <option value="@item.ID">@item.NgayHoc.ToString("dd/MM/yyyy")</option>
                            }
                        </select>
                    </div>
                </div>

                <div class="col-6">
                    <div class="w-100 text-end">
                        <a id="btnExportDssv" class="btn btn-outline-secondary">
                            <i class="bi bi-file-earmark-arrow-down me-1"></i> Export
                        </a>
                    </div>
                </div>
            </div>

            <input id="idLHPDiemDanh" name="@lhp.MaLHP" value="@lhp.ID" hidden />
            <h5>Lớp HP: @lhp.MaLHP - @lhp.TenHP</h5>
            @if (dbLichHoc.Where(d => d.DiemDanh.Where(wd => wd.DuLop.Length > 0).Count() > 0).Count() > 0)
            {
                var dbDiemDanh = dbLichHoc.FirstOrDefault(f => f.ID == currentLichHoc).DiemDanh.ToList();
                <h5>Sĩ Số: @dbDiemDanh.Where(w => w.DuLop.Equals("Có mặt") || w.DuLop.Equals("Đi trễ")).Count()/@lhp.DanhSachSinhVien.Count (@dbDiemDanh.Where(w => w.DuLop.Equals("Có mặt")).Count() có mặt, @dbDiemDanh.Where(w => w.DuLop.Equals("Đi trễ")).Count() đi trễ, @dbDiemDanh.Where(w => w.DuLop.Equals("Vắng mặt")).Count() vắng)</h5>
            }
            else
            {
                <h5>Sĩ Số: 0/@lhp.DanhSachSinhVien.Count (chưa điểm danh lớp học)</h5>
            }
        </div>
        <div class="col-12">
            <hr class="my-4" />
        </div>
        <div class="col-12">
            <div class="mb-4">
                <h3 class="text-center mb-0" for="tennganh">DANH SÁCH SINH VIÊN - ĐIỂM DANH</h3>
                <label class="small text-center w-100">(Trạng thái lựa chọn mặc định khi chưa điểm danh là có mặt)</label>
            </div>
        </div>
        <div class="col-12">
            <div class="table-card mt-0">
                <table id="diemDanhTable" class="table table-hover" style="width:100%">
                    <thead class="table-light">
                        <tr>
                            <th class="text-nowrap">TT</th>
                            <th class="text-nowrap">MSSV</th>
                            <th class="text-nowrap">Thông tin sinh viên</th>
                            <th class="text-nowrap">Trạng thái</th>
                            <th class="text-nowrap">Điểm danh</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in dssv.OrderBy(o => o.ID))
                        {
                            var diemdanh = item.DiemDanh.FirstOrDefault(w => w.ID_LichHoc == currentLichHoc);
                            i++;
                            <tr>
                                <td valign="middle">@i</td>
                                <td valign="middle">@item.MaSV</td>
                                <td valign="middle" class="text-nowrap">
                                    <b>Họ & Tên:</b> @item.HoLot @item.Ten
                                    <br />
                                    <b>
                                        Email:
                                    </b> @item.Email
                                    <br />
                                    <b>
                                        Ngày sinh:
                                    </b> @item.NgaySinh.Value.ToString("dd/MM/yyyy")
                                    <br />
                                    <b>Giới tính:</b> @item.GioiTinh
                                </td>
                                <td valign="middle">
                                    @if (diemdanh != null)
                                    {
                                        if (diemdanh.DuLop.Equals("Có mặt"))
                                        {
                                            <span class="badge bg-success">Có mặt</span>
                                        }
                                        else if (diemdanh.DuLop.Equals("Đi trễ"))
                                        {
                                            <span class="badge bg-warning">Đi trễ</span>

                                        }
                                        else
                                        {
                                            <span class="badge bg-danger">Vắng mặt</span>

                                        }
                                    }
                                    else
                                    {
                                        <span class="badge bg-secondary">Chưa điểm danh</span>
                                    }
                                </td>
                                <td valign="middle">
                                    @if (diemdanh != null)
                                    {
                                        if (diemdanh.DuLop.Equals("Có mặt"))
                                        {
                                            <select name="@item.ID" id="dulop-@item.ID" class="form-select text-dark w-auto">
                                                <option selected value="Có mặt">Có mặt</option>
                                                <option value="Đi trễ">Đi trễ</option>
                                                <option value="Vắng mặt">Vắng mặt</option>
                                            </select>
                                        }
                                        else if (diemdanh.DuLop.Equals("Đi trễ"))
                                        {
                                            <select name="@item.ID" id="dulop-@item.ID" class="form-select text-dark w-auto">
                                                <option value="Có mặt">Có mặt</option>
                                                <option selected value="Đi trễ">Đi trễ</option>
                                                <option value="Vắng mặt">Vắng mặt</option>
                                            </select>
                                        }
                                        else
                                        {
                                            <select name="@item.ID" id="dulop-@item.ID" class="form-select text-dark w-auto">
                                                <option value="Có mặt">Có mặt</option>
                                                <option value="Đi trễ">Đi trễ</option>
                                                <option selected value="Vắng mặt">Vắng mặt</option>
                                            </select>
                                        }
                                    }
                                    else
                                    {
                                        <select name="@item.ID" id="dulop-@item.ID" class="form-select text-dark w-auto">
                                            <option selected value="Có mặt">Có mặt</option>
                                            <option value="Đi trễ">Đi trễ</option>
                                            <option value="Vắng mặt">Vắng mặt</option>
                                        </select>
                                    }
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
