@using QuanLyCongTacTroGiangKhoaCNTT.Models;
@{
    CongTacTroGiangKhoaCNTTEntities models = new CongTacTroGiangKhoaCNTTEntities();
    var lstRole = models.Quyen.ToList();
    var lstUser = models.TaiKhoan.OrderByDescending(o => o.ID).ToList();
    int i = 0;
    int idUs = Int32.Parse(Session["user-id"].ToString());
}

<div class="row" id="pageload">
    <div class="col-xl-4 col-lg-4 col-md-4 col-12">
        <div class="card mb-4">
            <!-- Card body -->
            <div class="card-body d-flex flex-column gap-2">
                <div class="d-flex justify-content-between align-items-center">
                    <div class="lh-1 d-flex flex-column gap-1">
                        <h2 class="h1 fw-bold mb-0">@(lstRole.Where(w => w.ID == 2).First().TaiKhoan.Count())</h2>
                        <span>Sinh viên</span>
                    </div>
                    <div>
                        <span class="bg-light-primary icon-shape icon-xl rounded-3 text-dark-primary">
                            <i style="font-size: 24px" class="bi bi-person-rolodex"></i>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-4 col-lg-4 col-md-4 col-12">
        <div class="card mb-4">
            <!-- Card body -->
            <div class="card-body d-flex flex-column gap-2">
                <div class="d-flex justify-content-between align-items-center">
                    <div class="lh-1 d-flex flex-column gap-1">
                        <h2 class="h1 fw-bold mb-0">@(lstRole.Where(w => w.ID == 5).First().TaiKhoan.Count())</h2>
                        <span>Trợ giảng</span>
                    </div>
                    <div>
                        <span class="bg-light-success icon-shape icon-xl rounded-3 text-dark-success">
                            <i style="font-size: 24px" class="bi bi-person-rolodex"></i>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-4 col-lg-4 col-md-4 col-12">
        <div class="card mb-4">
            <!-- Card body -->
            <div class="card-body d-flex flex-column gap-2">
                <div class="d-flex justify-content-between align-items-center">
                    <div class="lh-1 d-flex flex-column gap-1">
                        <h2 class="h1 fw-bold mb-0">@(lstRole.Where(w => w.ID == 3).First().TaiKhoan.Count())</h2>
                        <span>Giảng viên</span>
                    </div>
                    <div>
                        <span class="bg-light-warning icon-shape icon-xl rounded-3 text-dark-warning">
                            <i style="font-size: 24px" class="bi bi-person-rolodex"></i>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-4 col-lg-4 col-md-4 col-12">
        <div class="card mb-4">
            <!-- Card body -->
            <div class="card-body d-flex flex-column gap-2">
                <div class="d-flex justify-content-between align-items-center">
                    <div class="lh-1 d-flex flex-column gap-1">
                        <h2 class="h1 fw-bold mb-0">@(lstRole.Where(w => w.ID == 4).First().TaiKhoan.Count())</h2>
                        <span>Chủ nhiệm khoa</span>
                    </div>
                    <div>
                        <span class="bg-light-info icon-shape icon-xl rounded-3 text-dark-info">
                            <i style="font-size: 24px" class="bi bi-person-rolodex"></i>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-4 col-lg-4 col-md-4 col-12">
        <div class="card mb-4">
            <!-- Card body -->
            <div class="card-body d-flex flex-column gap-2">
                <div class="d-flex justify-content-between align-items-center">
                    <div class="lh-1 d-flex flex-column gap-1">
                        <h2 class="h1 fw-bold mb-0">@(lstRole.Where(w => w.ID == 6).First().TaiKhoan.Count())</h2>
                        <span>Phòng đào tạo</span>
                    </div>
                    <div>
                        <span class="bg-light-secondary icon-shape icon-xl rounded-3 text-dark-secondary">
                            <i style="font-size: 24px" class="bi bi-person-rolodex"></i>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-4 col-lg-4 col-md-4 col-12">
        <div class="card mb-4">
            <!-- Card body -->
            <div class="card-body d-flex flex-column gap-2">
                <div class="d-flex justify-content-between align-items-center">
                    <div class="lh-1 d-flex flex-column gap-1">
                        <h2 class="h1 fw-bold mb-0">@(lstRole.Where(w => w.ID == 1).First().TaiKhoan.Count())</h2>
                        <span>Chưa phân quyền</span>
                    </div>
                    <div>
                        <span class="bg-light-danger icon-shape icon-xl rounded-3 text-dark-danger">
                            <i style="font-size: 24px" class="bi bi-person-rolodex"></i>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-12 col-lg-12 col-md-12 col-12">
        <!-- Card -->
        <div class="card">
            <!-- card header  -->
            <div class="card-header border-bottom-0 pb-0">
                <div class="row">
                    <div class="mb-3 col-md-4 col-12">
                        <label class="form-label" for="filterchucdanh">Lọc chức danh</label>
                        <select id="filterchucdanh" class="form-select" data-width="100%">
                            <option value="0">Chọn chức danh để lọc</option>
                            @foreach (var item in lstRole)
                            {
                                <option value="@item.ID">@item.name</option>
                            }
                        </select>
                    </div>
                </div>
            </div>
            <div id="filterParentLoad">
                <div class="card-body">
                    <!-- table  -->
                    <div class="table-card">
                        <table class="table table-hover" style="width:100%">
                            <thead class="table-light">
                                <tr>
                                    <th class="text-nowrap"></th>
                                    <th class="text-nowrap">Mã</th>
                                    <th class="text-nowrap">Họ & Tên</th>
                                    <th class="text-nowrap">Liên hệ</th>
                                    <th class="text-nowrap">Chức danh</th>
                                    <th class="text-nowrap">Quốc tịch</th>
                                    <th class="text-nowrap">Trạng thái</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in lstUser)
                                {
                                    i++;
                                    <tr>
                                        <td valign="middle">@i</td>

                                        <td valign="middle">@item.Ma</td>
                                        <td valign="middle">@item.HoTen</td>
                                        <td valign="middle">
                                            @item.Email<br />
                                            <span data-bs-toggle="tooltip" data-bs-html="true" title="Số ĐT: @item.SDT<br />Giới tính: @item.GioiTinh<br />Khoa: @item.Khoa<br />Ngành: @(item.ID_Nganh != null ? item.Nganh.TenNganh : "")" class="badge bg-success" role="button"><i class="bi bi-info-circle me-2"></i>Thông tin thêm</span>
                                        </td>
                                        <td valign="middle">@item.Quyen.name @(string.IsNullOrEmpty(item.Quyen.AbbreviatedName) ? "" : "(" + item.Quyen.AbbreviatedName + ")")</td>
                                        <td valign="middle">@item.QuocTich</td>
                                        <td valign="middle">
                                            <div class="form-check form-switch  mb-2">
                                                <input class="form-check-input" type="checkbox" role="switch" fullname="@item.Ma - @item.HoTen" name="@item.ID" id="trangthai-@item.ID" checked="@item.TrangThai">
                                            </div>
                                        </td>
                                        <td valign="middle" class="text-nowrap">
                                            @if (idUs != item.ID)
                                            {
                                                <a style="font-size: 20px" role="button" id="openSua-@item.ID" fullname="@item.Ma - @item.HoTen" name="@item.ID" class="text-success">
                                                    <i class="bi bi-pencil-square me-2"></i>
                                                </a>

                                                <a style="font-size: 20px" role="button" id="openXoa-@item.ID" fullname="@item.Ma - @item.HoTen" name="@item.ID" class="text-danger">
                                                    <i class="bi bi-trash"></i>
                                                </a>
                                            }
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

